- @title = "What&rsquo;s Next?"
- @published = "20120301 at 1900"
- @blurb = "<p>It&rsquo;s been 550 days since I posted to an article to this site. That means I didn&rsquo;t write anything about, well, a whole lot of stuff&hellip;"

%p It&rsquo;s been 550 days since I posted an article to this site. That means I didn&rsquo;t write anything about <a href="http://www.flickr.com/photos/lachlanhardy/5124780209/">building HTML5 apps for TV sets</a>; <a href="http://www.flickr.com/photos/lachlanhardy/5202787379/">working in Hong Kong</a>; running development for <a href="http://ninefold.com/">a cloud computing startup</a>; our pre-SXSW <a href="http://www.flickr.com/photos/lachlanhardy/sets/72157626095030723/">roadtrip through New Mexico</a>; the incredible week in Portland, Oregon, for <a href="http://2011.jsconf.us/">JSconf</a> and <a href="http://2011.nodeconf.com/">the first NodeConf</a> where <a href="http://d.goodlad.net/">Dave</a> and I built <a href="http://isdrink.in/">a site about drinking</a> while <a href="http://www.flickr.com/photos/lachlanhardy/5692033755/in/set-72157626490681393">in a bar, drinking</a>; making so many incredible new friends who inspire me greatly at the world&rsquo;s best conference, <a href="http://brooklynbeta.org/">Brooklyn Beta</a>; <a href="http://www.flickr.com/photos/lachlanhardy/sets/72157627934887990/">attempting to photograph everybody</a> at the second Brooklyn Beta; attending two <a href="http://www.flickr.com/photos/lachlanhardy/6865232843/">Railscamps in New Zealand</a> and one in <a href="http://www.flickr.com/photos/lachlanhardy/6688939143/">Adelaide</a>; taking <a href="http://www.flickr.com/photos/lachlanhardy/6562898485/">a few months off</a>; or the product I&rsquo;ve been building with two superbly talented friends.

%p Now that we&rsquo;re caught up&hellip;

%h2 Today is my ninth day working at <strong>Microsoft</strong>.

%p <em>And I love it</em>.

.figure-box.minor
  .figure
    %a{:href => "http://www.flickr.com/photos/lachlanhardy/6797070352/", :title => "Microsoft Employee By Lachlan Hardy, on Flickr"}
      %img{:src => "http://farm8.staticflickr.com/7051/6797070352_754cf38036_m.jpg", :width => "240", :alt => ""}
    %p
      %a{:href => "http://www.flickr.com/photos/lachlanhardy/6797070352"} Lachlan Hardy

%p When I left Ninefold, I had no plans as to what I&rsquo;d do for employment. I just wanted to see what came my way if I was open to it. I want to thank all of the people who made interesting connections for me or brought me exciting opportunities. Thanks to them, I was lucky enough to be able to choose what I do next. 

%p I chose what I believe will be the next frontier of incredible user experiences built in web technologies.

%h2 Why Microsoft?

%p I realise some will view Microsoft as an odd choice for me. I get that. Until last week, I hadn&rsquo;t used Windows daily in more than 4 years. Or Office in more than 6.

%p In 2006, some viewed News as an odd choice. And Atlassian in 2008. And Telstra in 2010. But News taught me how to build at scale. Things I designed and built at Atlassian are now core components of every  product they sell and their culture is decidedly more front-end focused. At Telstra I delivered <a href="http://www.lightreading.com/document.asp?doc_id=198135">the world&rsquo;s first DRM live adaptive streaming TV channels over HTTP to a TV set</a>. And at each company, I got to work with the smartest, most passionate and talented people in our industry.

%p That&rsquo;s what I have at Microsoft. Having just spent two days at a team offsite, I&rsquo;ve learned that yet again I&rsquo;m lucky enough to work with amazing, genuine, clever women and men who come to work every day wanting to change the world for the better. I&rsquo;m incredibly excited about the opportunities inherent to HTML, CSS and JavaScript apps on the desktop. And even more excited about what might be coming next. I get to be a part of that, by exploring those technologies and sharing them with other developers.

%p Having got up at 3am to <a href="http://windows.microsoft.com/en-US/windows-8/iso">download the ISOs</a>, and spending the entire day experimenting with the stunning <a href="http://windows.microsoft.com/en-US/windows-8/consumer-preview">Windows 8 Consumer Preview</a>, I know two things for sure:

%p This paradigm is what&rsquo;s next and I&rsquo;m stoked to be right here for it.

.figure-box.featured
  .figure
    %a{:href => "http://www.flickr.com/photos/lachlanhardy/6797070244/", :title => "Windows 8 gang signs By Lachlan Hardy, on Flickr"}
      %img{:src => "http://farm8.staticflickr.com/7053/6797070244_094138eb10_o.jpg", :width => "800", :alt => ""}
    %p
      %a{:href => "http://www.flickr.com/photos/lachlanhardy/6797070244/in/photostream/"} Lachlan Hardy

