  
.item_meta
  .item_tags
    Tags:
    %a{ :href => "http://log.lachstock.com.au/past/tags/DianaMounter", :title => "View posts tagged with &quot;DianaMounter&quot;" }
      DianaMounter
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/EAUT", :title => "View posts tagged with &quot;EAUT&quot;" }
      EAUT
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/JohnAllsopp", :title => "View posts tagged with &quot;JohnAllsopp&quot;" }
      JohnAllsopp
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/MatthewHodgson", :title => "View posts tagged with &quot;MatthewHodgson&quot;" }
      MatthewHodgson
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/MicroID", :title => "View posts tagged with &quot;MicroID&quot;" }
      MicroID
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/OAuth", :title => "View posts tagged with &quot;OAuth&quot;" }
      OAuth
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/ReemAbdelaty", :title => "View posts tagged with &quot;ReemAbdelaty&quot;" }
      ReemAbdelaty
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/RuthEllison", :title => "View posts tagged with &quot;RuthEllison&quot;" }
      RuthEllison
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/conference", :title => "View posts tagged with &quot;conference&quot;" }
      conference
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/lgwebnetwork", :title => "View posts tagged with &quot;lgwebnetwork&quot;" }
      lgwebnetwork
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/lgwn08", :title => "View posts tagged with &quot;lgwn08&quot;" }
      lgwn08
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/microformats", :title => "View posts tagged with &quot;microformats&quot;" }
      microformats
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/openid", :title => "View posts tagged with &quot;openid&quot;" }
      openid
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/openweb", :title => "View posts tagged with &quot;openweb&quot;" }
      openweb
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/webstandards", :title => "View posts tagged with &quot;webstandards&quot;" }
      webstandards
  .item_hierarchy
    Hierarchy:
    %a{ :href => "http://log.lachstock.com.au/past/2008/8/18/internet-gurus/", :title => "Previous post" }
      previous
    ,
    %a{ :href => "http://log.lachstock.com.au/past/2008/9/4/podcast-for-your-pleasure/", :title => "Next post" }
      next
