- @title = "Internet Gurus"
- @published = "20080818 at 2030"

%h2 Questions
%p 
  A couple of weeks ago, I got an email from Nick Galvin, a Features Writer with the <a href="http://smh.com.au/">Sydney Morning Herald</a>, asking if I&rsquo;d be interested in answering some quick questions about what&rsquo;s hot on the web for a feature in their weekly technology supplement for the &ldquo;interested home user&rdquo;, Icon. I jumped at the chance and thanks must go to
  %span.vcard
    %a.url.fn{ :href => "http://johnfallsopp.com/", :rel => "met colleague friend" } John Allsopp
  recommending me.
%p The piece was published today and I finally got see who the other people were. I put <a href="http://flickr.com/photos/lachlanhardy/2772460555/">a scan on my Flickrstream</a> so you can read the full text at either <a href="http://flickr.com/photos/lachlanhardy/2772460555/sizes/l/">Large</a> or <a href="http://flickr.com/photos/lachlanhardy/2772460555/sizes/o/">Original (bloody large)</a>. Huge thanks must go to the legendary <a href="http://www.flickr.com/photos/sengster/">Seng Mah</a> for yet again allowing me to use <a href="http://www.flickr.com/photos/sengster/1142378196/">his photo of me from last August</a> as my publicly respectable face.
%p <strong>Update:</strong> Turns out the article did get published online, so it&rsquo;s much <a href="http://www.smh.com.au/news/technology/dopple-your-fun/2008/08/16/1218307304122.html?page=fullpage">easier to read there</a>.

.figure-box.featured
  .figure
    %a{:href => "http://www.flickr.com/photos/lachlanhardy/2772460555/sizes/o/", :title => "Dopple Your Fun by Lachlan Hardy, on Flickr"}
      %img{:src => "http://farm4.static.flickr.com/3138/2772460555_97c2a89bce_b.jpg", :width => "800", :alt => "Photocopy of newspaper article"}
    %p
      Dopple Your Fun:
      %a{:href => "http://flickr.com/photos/lachlanhardy/2772460555/"} Lachlan Hardy
      
%h2 Answers
%p
  What I found most interesting is comparing my answers with those of
  %span.vcard
    %a.fn.nickname.url{ :href => "http://www.moltn.com/", :rel => "met" } Cheryl
  ,
  %span.vcard
    %a.fn.nickname.url{ :href => "http://www.alertbutnotalarmed.com/", :rel => "met" }Virginia
  ,
  %span.vcard
    %a.fn.nickname.url{ :href => "http://toolmantim.com/", :rel => "met friend colleague" }Tim
  and John. The differences are more telling than the similarities, I think. Cheryl&rsquo;s answers are consumer-focused, John talks about the big picture and Tim can&rsquo;t help but dish on what&rsquo;s important to developers. Of the four, Virginia&rsquo;s are probably closest to mine in ideas, although hers are expressed far more beautifully. (And she led me to <a href="http://penguinclassics.tumblr.com/">a gorgeous new theme</a> for my <a href="http://lachstock.tumblr.com/" rel="me">tumblelog</a>!)
%p I copped a bit of a ribbing at work about the reference in the standfirst to &lsquo;internet gurus&rsquo;. Fair enough. I find it amusing too. Thing is, though, that I know some other internet gurus.
%p Anybody willing to spend any time at all reading my infrequent posts is automatically qualified as pretty damn interested in the internet (or related to me. Hi, Mum!). So I want to know what you would have answered. What are your responses to the three questions? You don&rsquo;t have to stick to 180 words like we did!
%ol
  %li What are the three things online that are exciting you most?
  %li What gadget do you never leave home without? <em>And given most everybody will say their phone or their laptop, <strong>why?</strong></em>
  %li What will be the Next Big Thing?
%p Add answers or links to answers below.
