.item_meta
  .item_tags
    Tags:
    %a{ :href => "http://log.lachstock.com.au/past/tags/CherylGledhill", :title => "View posts tagged with &quot;CherylGledhill&quot;" }
      CherylGledhill
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/Dopplr", :title => "View posts tagged with &quot;Dopplr&quot;" }
      Dopplr
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/Etsy", :title => "View posts tagged with &quot;Etsy&quot;" }
      Etsy
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/FireEagle", :title => "View posts tagged with &quot;FireEagle&quot;" }
      FireEagle
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/Flickr", :title => "View posts tagged with &quot;Flickr&quot;" }
      Flickr
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/Icon", :title => "View posts tagged with &quot;Icon&quot;" }
      Icon
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/JohnAllsopp", :title => "View posts tagged with &quot;JohnAllsopp&quot;" }
      JohnAllsopp
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/NickGalvin", :title => "View posts tagged with &quot;NickGalvin&quot;" }
      NickGalvin
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/SydneyMorningHerald", :title => "View posts tagged with &quot;SydneyMorningHerald&quot;" }
      SydneyMorningHerald
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/TheAge", :title => "View posts tagged with &quot;TheAge&quot;" }
      TheAge
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/TimLucas", :title => "View posts tagged with &quot;TimLucas&quot;" }
      TimLucas
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/Tumblr", :title => "View posts tagged with &quot;Tumblr&quot;" }
      Tumblr
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/Twitter", :title => "View posts tagged with &quot;Twitter&quot;" }
      Twitter
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/VirginiaMurdoch", :title => "View posts tagged with &quot;VirginiaMurdoch&quot;" }
      VirginiaMurdoch
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/questions", :title => "View posts tagged with &quot;questions&quot;" }
      questions
  .item_hierarchy
    Hierarchy:
    %a{ :href => "http://log.lachstock.com.au/past/2008/8/3/twitterrific-troll-filter/", :title => "Previous post" }
      previous
    ,
    %a{ :href => "http://log.lachstock.com.au/past/2008/8/25/local-government-open-web/", :title => "Next post" }
      next
