- @title = "GabberTalk"
- @published = "20100830 at 1000"

%p <a href="http://nodeknockout.com/teams/explorer-sox">We</a> built <a href="http://gabbertalk.com">GabberTalk</a>. Here's a demo:

<div id="gabber-talk" class="gabber-talk"></div>
