- @title = "GabberTalk"
- @published = "20100830 at 1000"

%p <a href="http://nodeknockout.com/teams/explorer-sox">We</a> built <a href="http://gabbertalk.com">GabberTalk</a>. Here's a demo:

<div id="gabber-talk" class="gabber-talk"></div>

<script>
$(document).ready(function(){
  var addClient = document.createElement('script');
  addClient.src = "http://gabbertalk.com/845c0a1287da5c09377574389f310931/bootstrap.js";
  $("body").appendChild(addClient);  
});
</script>