- @title = "Meraki Madness"
- @published = "20071017 at 0818"

%p It seems that <a href="http://log.lachstock.com.au/past/2007/10/15/meshing-with-meraki/">my last post</a> has stirred the pot a little.
%p I&rsquo;m now taking orders for folks who want to get this hardware to Sydney and Melbourne and split the shipping costs. <a href="http://myles.eftos.id.au/blog/">Myles Eftos</a> is doing the same for anybody who wants them sent to Perth. I&rsquo;ll happily split out the Melbourne orders if we get enough. At the moment Melbournites have ordered around 8 and I have orders for over 20 in Sydney.
%p This is kind of response is incredibly cool. It&rsquo;s also been cool to get all the questions. Here&rsquo;s some answers:
%p
  %strong No
  \. You cannot automatically specify a download limit on users on your free public tier.
%p
  You
  %strong can
  specify a speed limitation on the free public tier and you
  %strong can
  ban any user you like. So you can remove the hogs after the fact, but you can&rsquo;t prevent them.
%p
  Let me follow that by saying that we have offered freely available wifi to anybody within range for the last 6 months. In that time we&rsquo;ve had 32 users. Around 20 are regular users. We
  %strong never
  even came close to hitting our old limit of 10Gb, let alone our new one of 20Gb (except when I left Azureus open too long&hellip;)
%p A few further points need to be made. Yes, the Standard Edition has a little toolbar at the top of the free public tier that can&rsquo;t be turned off. Yes, I also think that sucks, but I use my private tier at home, which has no toolbar. Standard edition offers you both tiers, so while you&rsquo;re on your own network you won&rsquo;t have it.
%p Lastly, I&rsquo;ve made a big deal out of this. I&rsquo;ve recommended it to all of you, and you&rsquo;re buying these little bits of kit on the basis of that recommendation. That&rsquo;s a little scary and I don&rsquo;t want to fuck up.
%p But I might. I don&rsquo;t work for Meraki. I have no affiliate relationship with them. I&rsquo;m getting no cash out of placing these orders. I&rsquo;m doing this because I believe it represents an opportunity for people to claim some space. For us to wrest a little more control from the powers-that-be.
%p Meraki may not be the answer. They may turn out to be money-grubbing opportunists who try to squeeze us for more cash or make changes we don&rsquo;t like (no offense to the folks there if they&rsquo;re reading this, I&rsquo;m sure you&rsquo;re lovely - this is hypothetical). If Meraki isn&rsquo;t it, the network will route around it. We&rsquo;ll all use FON or Whisher or Terranet or who knows what else is around the corner.
%p
  Don&rsquo;t tell me you&rsquo;re the only person in your neighbourhood who&rsquo;ll use this. Unless you
  %em are
  the only person within miles, there is somebody else nearby who will use and appreciate free wifi.
%p The important part is that we&rsquo;re all here pushing to make this change. And the more people we convince, the more powerful we will be. Buy the gear. Use it. Tell your friends about it. Post it somewhere. Email your user groups. Flickr them when you set them up. Blog it. Twitter it. Sell it.
%p We&rsquo;re talking about cultural change. Culture is big and hard to steer. It takes effort. So if you like these ideas, if you want this to happen, you have to make it happen.
%p
  Imagine if every member of the
  %a{ :href => "http://webstandardsgroup.org/" }
    Web Standards Group
  bought some of these. Or every member of
  %a{ :href => "http://rubyonrails.com.au/" }
    RORO
  \. Or every member of the PHP user groups, the UPA, the Python krewe, the Beer 2.0 posse, the .NET folks, AWIA, WIPA, and all the Webjammers.
%p I&rsquo;m stupidly excited about this because I can see so much potential, but that&rsquo;s only going to be achieved if we all drive it. So let&rsquo;s do it. Let&rsquo;s free the net!
