.item_meta
.item_tags
  Tags:
  %a{ :href => "http://log.lachstock.com.au/past/tags/freethenet", :title => "View posts tagged with &quot;freethenet&quot;" }
    freethenet
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/meraki", :title => "View posts tagged with &quot;meraki&quot;" }
    meraki
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/technology", :title => "View posts tagged with &quot;technology&quot;" }
    technology
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/thepeoplearethenetwork", :title => "View posts tagged with &quot;thepeoplearethenetwork&quot;" }
    thepeoplearethenetwork
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/wifi", :title => "View posts tagged with &quot;wifi&quot;" }
    wifi
.item_hierarchy
  Hierarchy:
  %a{ :href => "http://log.lachstock.com.au/past/2007/10/15/meshing-with-meraki/", :title => "Previous post" }
    previous
  ,
  %a{ :href => "http://log.lachstock.com.au/past/2007/10/22/sun-said-what/", :title => "Next post" }
    next
