- @title = "needs a good title"
- @published = "20131104 at 0200"
- @blurb = "<p>Blurb goes here</p>"

%blockquote
  %p I'll give her $100 for every male developer she brings to the office tomorrow morning!
  %cite
    %span A male CEO

%p This isn't something I'd normally share, but I've had so many requests for a public account that I feel the need to honour that. There was an incident at the most recent SydJS. What follows is what happened and what we did about it.

%h2 The Event

%p SydJS is a monthly meetup in Sydney for the local JavaScript community. Craig Sharkie has been running it since he announced the first one more than three years ago. I help out in a very small capacity. 

%p The event typically consists of one or two major presentations, sometimes supplemented by a few lightning talks. Towards the end, there's a segment for "News, Rants & Jobs." These days, this is mostly used to indicate that you're hiring or that you're looking for work.

%h2 What Happened

%p An attendee asked if he and his colleague could spruik their hiring pitch early since he had to leave before we'd get to that part of the evening. Craig agreed.

%p The man is CEO of his well-established company. He introduced himself, his company and then his female COO. He stated that he had to leave but his COO would stay for the whole event to talk to anyone interested in the jobs offered.

%p As his segue to his COO, he made a statement quoted above: "I'll give her $100 for every male developer she brings to the office tomorrow morning!"

%p The COO played the hand dealt to her and Craig moved the event on to the next speaker. I shared a brief moment of 3rd party shock and disgust with a few friends, but then realised that it was on Craig and I as organisers to address it.

%h2 What We Did

%p We agreed that we needed to apologise to the community, immediately. And that we needed to give the company the opportunity to do the same. 

%p Checking Twitter, I saw a few tweets referencing the incident and responded, tweeting that our public response would be delivered shortly.

%p The company's CEO had already left, but at the end of the first talk since he spoke, I quickly spoke to the COO and she expressed her own desire to address it.

%p I turned up the house lights and Craig passed me a microphone. After a quick self-introduction for any new people who didn't know me, I apologised on behalf of Craig and myself and expressed my belief that the CEO's statement was not reflective of the SydJS community and culture. I then passed the microphone to the COO for her own statement. Once she'd concluded her comments, we resumed the presentations.

%h2 Summary

%p Nobody wants anything like this to happen at their events. Many event organisers specifically craft systems to try and avoid it. SydJS had been lucky. And our luck ran out. But associating this with luck denies the value of the community's culture. A number of people tweeted their disapproval, or expressed it to me in person in the relatively short time before I apologised publicly. Many more have spoken to me since then to tell me how they felt at the time and how they felt about the apology.

%p Many expressed positive sentiments about the latter. Some were less sure. None were clear on what could have been improved. The strongest feedback was that the speed of our response was vital to connecting our communal and organisational disapproval to the offense. Thank you all for sharing.

%p As organisers and as a community, SydJS needs to determine what happens next. It seems obvious to me that we don't approve of this behaviour. Whether we decide systems of prevention or management are necessary is another matter. One that will be discussed on the mailing list, I'm sure.

%p I don't have comments on this site any more, but if you have anything you want to share outside the mailing list, whether you were there or not; or any questions you want to ask; please email me at lachlan@lachstock.com.au and I'll read, consider, and get back to you.

%p I've been running events for years, and this is the first time I've ever had something like this to deal with. Craig and I responded with speed and heartfelt emotion. Maybe we'll do it differently another time. Hopefully better. Or better yet, we won't have to.
