- @title = "Immense Persuasiveness"
- @published = "20090911 at 1800"
- @blurb = "<p>At UXAustralia (<a href='http://www.uxaustralia.com.au/conference-2009/'>a most excellent conference</a> which I was lucky enough to <a href='http://www.slideshare.net/lachlanhardy/improving-dashboards-with-open-content-sharing'>present some recent work</a> at), two men presented a bold and unusual session.</p><p><span class='vcard'><a class='url fn' href='http://blogs.msdn.com/shanemo/' rel='met colleague friend'>Shane Morris</a></span> and <span class='vcard'><a class='url fn' href='http://amberdew.com.au/' rel='met colleague'>Matt Morphett</a></span> unleashed forty-five minutes of barely-controlled hilarious and adlibbed chaos revolving around a book written by an architect.</p>"


.figure-box
  .figure
    %a{:href => "http://flickr.com/photos/lachlanhardy/3909246466/", :title => "Immense Persuasiveness by Lachlan Hardy, on Flickr"}
      %img{:src => "http://farm3.static.flickr.com/2575/3909246466_fb802a923e_o.jpg", :width => "500", :alt => "Immense Persuasiveness"}
    %p
      Immense Persuasiveness:
      %a{:href => "http://www.flickr.com/photos/lachlanhardy/3906616076/"} Lachlan Hardy
      
%p 
  At UXAustralia (<a href="http://www.uxaustralia.com.au/conference-2009/">a most excellent conference</a> which I was lucky enough to <a href="http://www.slideshare.net/lachlanhardy/improving-dashboards-with-open-content-sharing">present some recent work</a> at), two men presented a bold and unusual session.
  %span.vcard
    %a.url.fn{ :href => "http://blogs.msdn.com/shanemo/", :rel => "met colleague friend" } Shane Morris
  and
  %span.vcard
    %a.url.fn{ :href => "http://amberdew.com.au/", :rel => "met colleague" } Matt Morphett
  unleashed forty-five minutes of barely-controlled hilarious and adlibbed chaos revolving around a book written by an architect.
  
%p 
  According to an editorial review on its Amazon page, <a href="http://www.amazon.com/101-Things-Learned-Architecture-School/dp/0262062666/ref=sr_1_1?ie=UTF8&s=books&qid=1238319636&sr=1-1">101 Things I Learned in Architecture School</a> by 
  %span.vcard
    %a.url.fn{ :href => "http://frederickdesignstudio.com/" } Matthew Frederick

%blockquote
  %p offers a wide-ranging assortment of architectural pearls of wisdom that every architecture student should understand, consider and embrace—or perhaps reject—when first learning the daunting process of design. Encompassing both theory and practice, and illustrated with often witty drawings, 101 Things is an eclectic itemization of architectural philosophies, compositional strategies and tactics, design conventions, drawing and presentation techniques, and even tips about how to behave as an architect.
  %cite.vcard
    %a.url.fn{ :href => "http://www.amazon.com/101-Things-Learned-Architecture-School/dp/0262062666/ref=sr_1_1?ie=UTF8&s=books&qid=1238319636&sr=1-1#productDescription" } Roger K. Lewis
    
%p In general, it&rsquo;s the kind of book that every profession should have. Neat pithy summations of hard-won learnings, shared in a friendly readily digestable format. And that was precisely the premise of the presentation, <a href="http://www.uxaustralia.com.au/conference-2009/101-things-i-should-have-learned-in-interaction-design-school">101 things I (should have) learned in interaction design school</a>.

%p Matt and Shane used a tiny bingo tumbler to randomly pick a number between one and one hundred and one, shared an image of that item in the book, read it out loud, and then attempted to apply the gist of the architectural advice to the field of interaction design. Some principles applied cleanly and easily, others took some serious consideration. Whenever our dashing duo were stuck for answers, they sought help from the audience.

%p 
  It was a rough, ready, and fairly random experience; well suited to the last session of the day. People were on a high from their first day at the conference and there was much yelling, laughter, and audience participation. Most of all, it
  %strong actually
  worked.

%p Take the quote at the top of this page from <a href="http://ebooks.adelaide.edu.au/w/woolf/virginia/w91d/#chapter21">Chapter 21</a> of Virginia Woolf&rsquo;s <i>The Death of the Moth</i>, titled <strong>The Novels of E.M. Forster</strong>:

%blockquote
  %p The success of the masterpieces seems to lie not so much in their freedom from faults &mdash; indeed we tolerate the grossest errors in them all &mdash; but in the immense persuasiveness of a mind which has completely mastered its perspective.
  %cite.vcard
    %a.url.fn{ :href => "http://ebooks.adelaide.edu.au/w/woolf/virginia/w91d/#chapter21" } Virginia Woolf
    
%p Thing 78 of 101, Shane was kind enough to send me an image of the page after I&rsquo;d asked him about it. What an amazing quote! I can&rsquo;t get it out of my head. It&rsquo;ll be in the back of my mind for every project I take on now.

%p Shane and Matt have set up a site to share these ideas and others with interested folk at <a href="http://ixd101.com/">http://ixd101.com/</a>.


