%ol.archive
  - for year in @items.keys.sort.reverse
    %li.year
      %h2= year
      %ol
        - for month in @items[year].keys.sort.reverse
          %li.month
            %h3= Time.local(2008, month, 1).strftime("%B")
            %ol
              - for item in @items[year][month].sort.reverse
                %li.article
                  %h4.subtitle
                    %a{:href => "/#{@category}/#{item.slug}/"}= item.title