- @items = Metadata.type(:code).all.sort_by {|item| item.published}.reverse

%article
  %h2 Code
  %h3= @items.first.title
  = @items.first.blurb
  %p.read-more
    %a{:href => "/#{@items.first.path.split("/")[-3]}/#{@items.first.path.split("/")[-2]}/"} Continue reading&hellip;