%h2 Comments
%p.notice Currently, comments are disabled on this site, but all old comments are still available.
%p.blurb
  = "There are #{@number_of_comments} comments on this post."
  -# %a{ :href => "#post", :title => "Post your own" } Post your own