%article.facets
  %h2 Pieces: loosely joined
  %ul.list.plain
    %li
      %a{:href => "https://twitter.com/lachlanhardy", :rel => "me"} Twitter
    %li
      %a{:href => "http://instagram.com/lachlanhardy/", :rel => "me"} Instagram
    %li
      %a{:href => "http://flickr.com/photos/lachlanhardy/", :rel => "me"} Flickr
    %li
      %a{:href => "https://github.com/lachlanhardy/", :rel => "me"} GitHub
    %li
      %a{:href => "http://last.fm/user/lachlanhardy", :rel => "me"} Last.FM
    %li
      %a{:href => "http://lachstock.tumblr.com", :rel => "me"} Tumblr
    //%li
    //  %a{:href => "http://viddler.com/lachlanhardy", :rel => "me"} My old videos
    //%li
    //  %a{:href => "http://webjam.com.au/people/lachlanhardy", :rel => "me"} I used to run Webjam
