%article.facets
  %h2 Pieces: loosely joined
  %ul.list.plain
    %li
      %a{:href => "https://twitter.com/lachlanhardy", :rel => "me"} My tweets
    %li
      %a{:href => "http://flickr.com/photos/lachlanhardy/", :rel => "me"} My photos
    %li
      %a{:href => "http://last.fm/user/lachlanhardy", :rel => "me"} My tunes
    //%li
    //  %a{:href => "http://viddler.com/lachlanhardy", :rel => "me"} My old videos
    //%li
    //  %a{:href => "http://webjam.com.au/people/lachlanhardy", :rel => "me"} I used to run Webjam
