%article#facets
  %h2 Pieces: loosely joined
  %ul
    %li
      %a{:href => "http://webjam.com.au/people/lachlanhardy", :rel => "me"} I run Webjam
    %li
      %a{:href => "http://flickr.com/photos/lachlanhardy/", :rel => "me"} My photos
    %li
      %a{:href => "http://twitter.com/lachlanhardy", :rel => "me"} My tweets
    %li
      %a{:href => "http://ma.gnolia.com/people/lachlanhardy", :rel => "me"} My bookmarks
    %li
      %a{:href => "http://last.fm/user/lachlanhardy", :rel => "me"} My tunes
    %li
      %a{:href => "http://viddler.com/lachlanhardy", :rel => "me"} My videos
    %li
      %a{:href => "http://live.yahoo.com/lachlanhardy", :rel => "me"} My live streaming
    %li
      %a{:href => "http://qik.com/lachlanhardy", :rel => "me"} My live mobile streaming
    %li
      %a{:href => "http://www.dopplr.com/traveller/lachlanhardy/public/header"} My trips
    %li
      %a{:href => "http://getsatisfaction.com/people/lachlanhardy"} My Satisfaction
    %li
      %a{:href => "http://technorati.com/people/technorati/lachlanhardy", :rel => "me"} My Technorati