%nav
  = "REQUEST_PATH: " + request.env['REQUEST_PATH']
  %ul
    %li
      = home_link("Home")
    - @nav_items.each do |item|
      %li
        - test = request.env['REQUEST_PATH'] == "/" ? request.env['REQUEST_PATH'] : request.env['REQUEST_PATH'].split("/").last
        - if item == test
          %span= item.capitalize
        - else
          %a{:href => "/#{item}/"}= item.capitalize
        
        