#nav
  %ul
    %li
      - if @category == "home"
        %span Home
      - else
        %a{:href => "/", :rel => "home"} Home
    - @nav_items.each do |item|
      %li
        - if item == request.env['REQUEST_PATH'].split("/").last
          %span= item.capitalize
        - else
          %a{:href => "/#{item}/"}= item.capitalize
        
        