%article.seinfeld-badge.user-lachlanhardy
  %h2 I like open software
  %p
    %a{ :href => "http://www.calendaraboutnothing.com/~lachlanhardy", :rel => "me" } Calendar About Nothing
    tracks my public contributions on
    %a{ :href => "http://github.com/" } GitHub
    \.

