#hcard-Lachlan-Hardy.item.vcard
  %img.photo{:src => "http://s3.amazonaws.com/twitter_production/profile_images/53728289/avatar-512x512.jpg", :height => "128", :alt => "Your host: Lachlan Hardy", :width => "128"}
  %h2
    %a.url.fn{:href => "http://lachstock.com.au", :rel => "me"} Lachlan Hardy
  %p.adr <span class="locality">Sydney</span>, <span class="region">NSW</span>, <span class="country-name">Australia</span>.
  %p Here are my contact details, in order of preference:
  %ul
    %li
      MSN:
      %a.url{:href => "msnim:chat?contact=lachlan@lachstock.com.au"} lachlan@lachstock.com.au
      ;
    %li
      AIM:
      %a.url{:href => "aim:goim?screenname=lachlanhardy"} lachlanhardy
      ; or
    %li
      Email:
      %a.email{:href => "mailto:lachlan@lachstock.com.au"} lachlan@lachstock.com.au
      \.
  %p Places you might know me from and stuff I’m into:
  %ul.tags
    %li
      %a{:href => "http://technorati.com/tag/Webjam", :rel => "tag"} Webjam
    %li
      %a{:href => "http://technorati.com/tag/RORO", :rel => "tag"} RORO
    %li
      %a{:href => "http://technorati.com/tag/Atlassian", :rel => "tag"} Atlassian
    %li
      %a{:href => "http://technorati.com/tag/OpenID", :rel => "tag"} OpenID
    %li
      %a{:href => "http://technorati.com/tag/OAuth", :rel => "tag"} OAuth
    %li
      %a{:href => "http://technorati.com/tag/WSG", :rel => "tag"} WSG
    %li
      %a{:href => "http://technorati.com/tag/web+standards", :rel => "tag"} web standards
    %li
      %a{:href => "http://technorati.com/tag/HTML", :rel => "tag"} HTML
    %li
      %a{:href => "http://technorati.com/tag/CSS", :rel => "tag"} CSS
  %p
    %a{:href => "http://technorati.com/contact/http://log.lachstock.com.au/pages/about"} Add these details
    to your address book