%article#hcard-Lachlan-Hardy.vcard.package.pure-g-r
  .pure-u-1-3
    %img.photo{:src => "https://si0.twimg.com/profile_images/378800000248937892/e64d0a9f3b6713f40bb261fe6b451841.jpeg", :height => "128", :alt => "Your host: Lachlan Hardy", :width => "128"}
  .pure-u-2-3
    %h2.title
      %a.url.fn{:href => "http://lachstock.com.au/", :rel => "me"} Lachlan Hardy
    %p.adr.subtitle <span class="locality">Sydney</span>, <span class="region">NSW</span>, <span class="country-name">Australia</span>.
    %ul.list.plain
      %li
        Email:
        %a.email{:href => "mailto:lachlan@lachstock.com.au"} lachlan@lachstock.com.au
      %li
        Phone:
        %a.tel{:href => "tel:+61407091518"} 0407091518
      %li
        Skype:
        %a.skype{:href => "skype:lachlanhardy2"} lachlanhardy2
      %li
        MSN:
        %a.url{:href => "msnim:chat?contact=lachlan@lachstock.com.au"} lachlan@lachstock.com.au
        ; or
      %li
        AIM:
        %a.url{:href => "aim:goim?screenname=lachlanhardy"} lachlanhardy
        \.
    / %p
    /   %a.pure-button.pure-button-primary{:href => "http://h2vx.com/vcf/lachstock.com.au"} Add to address book