%aside#webstock
  %h2 I'm speaking at Webstock!
  %a{:title => "I'm speaking at Webstock!", :href => "http://www.webstock.org.nz/10/"}
    %img{:src => "http://www.webstock.org.nz/10/images/banners/lar-a.jpg", :title => "I'm speaking at Webstock!"}