- @title = "Lachstock"
- @layout = "layout-abb home"

%section#twitter
  #status
    %p thinks less is the new more.
  %a#twitter-avatar{:href => "http://twitter.com/lachlanhardy"}
    %img{:alt => "Your host: Lachlan Hardy", :height => "96", :src => "http://s3.amazonaws.com/twitter_production/profile_images/53728289/avatar-512x512.jpg", :width => "96"}

%section
  = partial :article_segment
%section
  -# = partial :github
  = partial :code_segment
  = partial :flickr_pic
  