- @title = "Lachstock"
- @layout = "layout-abb home"

%section#twitter
  #status
    %p thinks less is the new more.
  %a{:href => "http://twitter.com/lachlanhardy"}
    %img{:src => "http://s3.amazonaws.com/twitter_production/profile_images/53728289/avatar-512x512.jpg", :height => "96", :alt => "Your host: Lachlan Hardy", :width => "96"}
%section
  = partial :article_segment
%section
  -# = partial :github
  = partial :seinfeld
  = partial :flickr_pic
  