- @title = "Lachstock"

%section.pure-u-2-5
  %article
    %p The first week of 2015, I&rsquo;m moving to New York City. I'm pretty excited about it, but I&rsquo;ll need work. Currently, I work for Microsoft. They&rsquo;re working with me to see if there are any internal opportunities that will suit, but that may not be possible. I&rsquo;m very interested in work leading the design and development of products that create real benefits for their intended community and/or customers.

    %p
      %strong Here&rsquo;s a copy of <a href="/resume-lachlan-hardy-2014.pdf">my resume (PDF)</a>, and below there is a summary of how I&rsquo;ve kept busy the last few years. If you can think of an opportunity or an introduction that might suit, please email me at <a href="mailto:lachlan@lachstock.com.au">lachlan@lachstock.com.au</a>.

    %p I&rsquo;m the Startup Lead for Microsoft Australia. I'm responsible for the strategic impact of Microsoft within the Australian startup ecosystem. Basically that means my job is helping startups. With anything. I debug apps, web services, and business models. I partner with VCs, accelerators, incubators, universities and others to amplify benefits they offer for startups. I help startups find customers, employees or funding. Email me at <a href="mailto:lachlanh@microsoft.com">lachlanh@microsoft.com</a> to tell me about your business!

    %p I&rsquo;m a partner at a coworking space called <a href="http://theworkben.ch">The Workbench</a> in Ultimo, Sydney. I work there a few days a week (when I&rsquo;m in Sydney), especially Fridays for <a href="https://twitter.com/search?q=laksafriday">Laksa Friday</a> and <a href="https://twitter.com/search?q=%23fridayat4">#fridayat4</a>.

    %p I help <a href="http://twitter.com/twalve">Craig Sharkie</a> run the <a href="http://sydjs.com/">SydJS group</a> for Sydney&rsquo;s JavaScripters and I&rsquo;m a regular in the <a href="http://ruby.org.au">Australian Ruby scene</a> where I can be heard arguing the benefits of various open technologies and practices at the occasional <a href="http://ruby.org.au/meetups/syd.html">Sydney meeting</a> and any <a href="http://railscamps.net/">Railscamp</a>. I also helped <a href="http://rubyconf.org.au/news#talking-heads">select the talks</a> for <a href="http://rubyconf.org.au/">RubyConfAU 2014</a>.

    %p I&rsquo;m a web standardista from way back (I ran the <a href="http://webstandardsgroup.org">Web Standards Group</a> meetings in Melbourne from 2004-2006) and gave presentations at <a href="http://www.webdirections.org/resources/lachlan-hardy-the-open-web/">Web Directions South</a>, Edge of the Web, Microsoft&rsquo;s REMIX10 and New Zealand&rsquo;s <a href="http://www.webstock.org.nz/10/">Webstock</a> conference on the topic of <a href="http://www.slideshare.net/lachlanhardy/the-open-web-3228466">The Open Web</a>.

    %p With support from some amazing people, I used to run an industry event called Webjam to provide a platform for people to show off their innovations built on the web and web technologies.

    %p I&rsquo;m a passionate advocate of open web technologies but I try to temper that by actually knowing about those technologies &mdash; preferably from having used them.

    %p I&rsquo;m available for coffee, drinks, lunch, and hearing about <strong>you</strong>.

  = partial :vcard
%section.pure-u-2-5.secondary-home
  = partial :article_segment
  = partial :code_segment
  = partial :facets
%section.pure-u-1-5

  