- @title = "Lachstock"
- @layout = "layout-abb home"

%section#twitter
  #status
    %p thinks less is the new more.
  %a#twitter-avatar{:href => "http://twitter.com/lachlanhardy"}
    %img{:alt => "Your host: Lachlan Hardy", :height => "96", :src => "https://twimg0-a.akamaihd.net/profile_images/1840173485/3CC3A40B-5D19-4D8D-9288-54626C2B71CD", :width => "96"}

%section
  = partial :article_segment
%section
  -# = partial :github
  = partial :code_segment
  = partial :flickr_pic
  