- @title = "Lachstock"

%section.pure-u-2-5
  %article

    %p I work at <a href="https://blackmill.co/">Blackmill</a>. We're an engineering practice consultancy focused on deliberate development. We believe thoughtful engineering practices lead to quality, stability, and elegance. You can learn more about what we do (and hire us!) at <a href="https://blackmill.co/">https://blackmill.co/</a>

    %p At various times, I've been an engineering manager, a Rubyist, an ecosystem strategist, a startup mentor, a full-time JavaScripter, an IPTV developer, a front-end developer, and a web standards professional. I'm often some combination of all of those. I'm also a habitual starter of community events, such as the long defunct industry demo night, Webjam; Australia's longest running startup meetup (probably), <a href="http://siliconbeachaustralia.org/">Silicon Beach Australia</a>; and the only Sydney web industry social event held in a tequila bar, <a href="https://twitter.com/search?q=%23fridayat4">Friday at 4</a>.

    %p I'm ex-<a href="https://github.com/">GitHub</a>, ex-<a href="https://twitter.com/neoinnovate">Neo</a>, ex-<a href="https://microsoft.com/">Microsoft</a>, ex-<a href="https://en.wikipedia.org/wiki/Ninefold">Ninefold</a>, ex-<a href="https://atlassian.com">Atlassian</a>, and ex-<a href="https://www.newscorpaustralia.com/">News</a>. For <a href="http://bigpond.com/">Bigpond</a>, I delivered the world&rsquo;s first Over-The-Top live streaming IPTV service under Widevine DRM. I built key features of major product releases at Atlassian, including developing and open-sourcing the <a href="https://docs.atlassian.com/aui/">Atlassian UI library</a>. In Sydney, I ran a coworking space called <a href="http://theworkben.ch/">The Workbench</a> and helped organise the <a href="https://sydjs.com/">Sydney JS</a> meetups.

    %p I went to Sydney&rsquo;s first Ruby on Rails meet up in 2006 and have been an active member of the <a href="https://ruby.org.au/">Australian Ruby community</a> ever since. I&rsquo;ve been to roughly 23 <a href="https://rails.camp/">Rails Camps</a> run in Australia, New Zealand, and the US. When I lived in New York City, I co-organised Rails Camp USA East Coast 2016.

    %p Before Microsoft, two friends and I spent 2 months doing spikes into the 10 hardest technical problems we saw in making a Gmail-killer. We did not resolve all of them. I still want to build it someday.

    %p Mostly I just want to make beautiful products that solve real problems for people.

  = partial :vcard
%section.pure-u-2-5.secondary-home
  = partial :article_segment
  = partial :code_segment
  = partial :facets
%section.pure-u-1-5
