- @title = "Lachstock"

%section.pure-u-2-5
  %article
    %p I work as a Technical Evangelist with Microsoft Australia. I work with startups and agencies on Windows 8 and Windows Phone 8 applications. Email me at <a href="mailto:lachlanh@microsoft.com">lachlanh@microsoft.com</a> to tell me about your app!

    %p I&rsquo;m a partner at an Ultimo, Sydney, coworking space called <a href="http://theworkben.ch">TheWorkbench</a>. I work there a few days a week (when I'm in Sydney), especially Fridays for <a href="https://twitter.com/search?q=laksafriday">Laksa Friday</a> and <a href="https://twitter.com/search?q=%23fridayat4">#fridayat4</a>.

    %p I help <a href="http://twitter.com/twalve">Craig Sharkie</a> run the <a href="http://sydjs.com/">SydJS group</a> for Sydney&rsquo;s JavaScripters and I&rsquo;m a regular in the <a href="http://rubyonrails.com.au/">Australian Ruby scene</a> where I can be heard arguing the benefits of various open technologies and practices over a beer at pretty much every <a href="http://faces.rubyoceania.org/groups/sydney/">Sydney meeting</a> and <a href="http://railscamps.net/">Railscamp</a>.

    %p I&rsquo;m a web standardista from way back (I ran the <a href="http://webstandardsgroup.org">Web Standards Group</a> meetings in Melbourne from 2004-2006) and gave presentations at <a href="http://south09.webdirections.org/program/business#the-open-web">Web Directions South</a>, <a href="http://www.edgeoftheweb.org.au/speakers/lachlan-hardy/">Edge of the Web</a>, <a href="http://www.microsoft.com/australia/remix/default.aspx">REMIX10</a> and New Zealand&rsquo;s <a href="http://www.webstock.org.nz/10/">Webstock</a> conference on the topic of <a href="http://www.slideshare.net/lachlanhardy/the-open-web">The Open Web</a>.

    %p With support from some amazing people, I used to run an industry event called <a href="http://webjam.com.au">Webjam</a> to provide a platform for people to show off their innovations built on the web and web technologies.

    %p I&rsquo;m a passionate advocate of open web technologies but I try to temper that by actually knowing about those technologies &mdash; preferably from having used them.

    %p I&rsquo;m available for coffees, beers, and hearing about <strong>you</strong>.

  = partial :vcard
%section.pure-u-2-5
  = partial :article_segment
  = partial :code_segment
  = partial :facets
%section.pure-u-1-5

  