- @title = "Lachstock"

%section.pure-u-2-5
  %article
    %p The first week of 2015, I&rsquo;m moving to New York City. I&rsquo;m pretty excited about it, but I&rsquo;ll need work. Currently I&rsquo;m employed by Microsoft. They&rsquo;re working with me to see if there are any internal opportunities that will suit, but that may not be possible. I&rsquo;m very interested in work leading the design and development of products that create real benefits for their intended community and/or customers. Mostly I&rsquo;m interviewing for Director of Engineering, Engineering Manager, and even VP of Engineering at a smaller startup.

    %p
      %strong Here&rsquo;s a copy of <a href="/resume-lachlan-hardy-2014.pdf">my resume (PDF)</a>, and below there is a summary of how I&rsquo;ve kept busy the last few years. If you can think of an opportunity or an introduction that might suit, please email me at <a href="mailto:lachlan@lachstock.com.au">lachlan@lachstock.com.au</a>.


    %p I&rsquo;m an experienced dev lead with a focus on product design and development. I&rsquo;ve mostly led JS and front end teams but also Rubyists and Java devs. I&rsquo;ve hired more than 100 developers in my career and only fired 4.

    %p I delivered the world&rsquo;s first Over-The-Top live streaming IPTV service under Widevine DRM. I built key features of major product releases at Atlassian, including developing and open-sourcing the <a href="https://docs.atlassian.com/aui/latest/">Atlassian UI library</a>. I run a coworking space called <a href="http://theworkben.ch/">The Workbench</a> and help organize the <a href="http://sydjs.com/">Sydney JS</a> meetups.

    %p I went to <a href="http://ruby.org.au/meetups/syd.html">Sydney&rsquo;s first Ruby on Rails meet up</a> in 2006 and have been an active member of the <a href="http://ruby.org.au/">Australian Ruby community</a> ever since. I&rsquo;ve been to 14 of the 17 <a href="http://railscamps.net/">Railscamps</a> run in Australia and New Zealand.

    %p I&rsquo;ve been writing JavaScript since it was DHTML and Node since before NPM existed. My team won the Completeness category in the first <a href="http://nodeknockout.com/">NodeKnockout</a> and came third overall. I wrote a (poor) toy web framework in CoffeeScript and Node to learn CoffeeScript when it came out. I wrote a prototype build tool for Visual Studio in Grunt to add SASS/HAML/Coffee/etc capabilities to show the VS team why they should add those features. I made a clone of my Ruby Sinatra blog(esque) site in ExpressJS because I get excited about monolingual stacks.

    %p I&rsquo;ve spent the last 3 years developing and implementing Microsoft Australia&rsquo;s strategy for engaging and improving the startup ecosystem in Australia. Basically that means my job is helping startups. With anything. I debug apps, web services, and business models. I partner with VCs, accelerators, incubators, universities and others to amplify benefits they offer for startups. I help startups find customers, employees or funding.

    %p Before Microsoft two friends and I spent 2 months doing spikes into the 10 hardest technical problems we saw in making a Gmail-killer. We did not resolve all of them. I still want to build it someday.

  = partial :vcard
%section.pure-u-2-5.secondary-home
  = partial :article_segment
  = partial :code_segment
  = partial :facets
%section.pure-u-1-5

  