- @title = "Lachstock"

%section.pure-u-2-5
  %article

    %p Currently the Support Tools engineering manager at <a href="https://github.com/">GitHub</a>, I'm a senior engineering manager who is ex-<a href="https://twitter.com/neoinnovate">Neo</a>, ex-<a href="http://microsoft.com/">Microsoft</a>, ex-<a href="http://atlassian.com">Atlassian</a>, and ex-<a href="http://newsdigitalmedia.com.au/">News</a>. For <a href="http://bigpond.com/">Bigpond</a>, I delivered the world&rsquo;s first Over-The-Top live streaming IPTV service under Widevine DRM. I built key features of major product releases at Atlassian, including developing and open-sourcing the <a href="https://docs.atlassian.com/aui/latest/">Atlassian UI library</a>. In Sydney, I ran a coworking space called <a href="http://theworkben.ch/">The Workbench</a> and helped organise the <a href="http://sydjs.com/">Sydney JS</a> meetups.

    %p I went to <a href="http://ruby.org.au/meetups/syd.html">Sydney&rsquo;s first Ruby on Rails meet up</a> in 2006 and have been an active member of the <a href="http://ruby.org.au/">Australian Ruby community</a> ever since. I&rsquo;ve been to roughly 23 <a href="http://railscamps.net/">Rails Camps</a> run in Australia, New Zealand, and the US. Now that I live in New York City, I co-organised <a href="https://east.railscamp.us/">Rails Camp USA East Coast 2016</a>.

    %p Before Microsoft, two friends and I spent 2 months doing spikes into the 10 hardest technical problems we saw in making a Gmail-killer. We did not resolve all of them. I still want to build it someday.

    %p Mostly I just want to make beautiful products that solve real problems for people.

  = partial :vcard
%section.pure-u-2-5.secondary-home
  = partial :article_segment
  = partial :code_segment
  = partial :facets
%section.pure-u-1-5
