- @title = "The Pinnacle"
- @published = "20100111 at 0700"
- @blurb = "<p>Care of the talented <span class='vcard'><a class='url fn' href='http://twitter.com/msharp' rel='met colleague friend'>Mr Sharp</a></span>, I discovered what I'm certain is the most beautiful design object I've ever seen and it's got me thinking.</p><p>The object is an artistic filmic piece on architecture. It's gorgeously shot, lovingly detailed, fantastically composed, and... <strong>entirely computer generated</strong>.</p>"


.figure-box
  .figure
    %a{:href => "http://www.flickr.com/photos/lachlanhardy/4262478232/in/set-72157623055201199", :title => "By Lachlan Hardy, on Flickr"}
      %img{:src => "http://farm3.static.flickr.com/2744/4262478232_c6948af2d8.jpg", :width => "500", :alt => ""}
    %p
      %a{:href => "http://www.flickr.com/photos/lachlanhardy/4262478232/in/set-72157623055201199"} Lachlan Hardy

%p Care of the talented <span class="vcard"><a class="url fn" href="http://twitter.com/msharp" rel="met colleague friend">Mr Sharp</a></span>, I discovered what I'm certain is the most beautiful design object I've ever seen and it has me thinking.

%p The object is an artistic filmic piece on architecture. It&rsquo;s gorgeously shot, lovingly detailed, fantastically composed, and... <strong>entirely computer generated</strong>.

%h2 The Third & The Seventh
.figure-box.minor
  .figure
    %a{:href => "http://www.flickr.com/photos/lachlanhardy/4262473112/in/set-72157623055201199", :title => "By Lachlan Hardy, on Flickr"}
      %img{:src => "http://farm5.static.flickr.com/4002/4262473112_61ca4d9aa4_m.jpg", :width => "240", :alt => ""}
    %p
      %a{:href => "http://www.flickr.com/photos/lachlanhardy/4262473112/in/set-72157623055201199"} Lachlan Hardy
      
%p <span class="vcard"><a class="url fn" href="http://alexroman.com/">Alex Roman</a></span> did the modelling, texturing, lighting and rendering. He did postproduction, editing and direction. Unbelievably, he also did the musical sequencing, orchestration and mixing.

%p This film is one man&rsquo;s dedication to a vision, the fullest realisation of his talents.

.figure-box.minor
  .figure
    %a{:href => "http://www.flickr.com/photos/lachlanhardy/4262484078/in/set-72157623055201199", :title => "By Lachlan Hardy, on Flickr"}
      %img{:src => "http://farm5.static.flickr.com/4022/4262484078_8d13bc4a5c_m.jpg", :width => "240", :alt => ""}
    %p
      %a{:href => "http://www.flickr.com/photos/lachlanhardy/4262484078/in/set-72157623055201199"} Lachlan Hardy

%p The film starts with classic architectural designs. Panning across shapes, exploring light. It gradually takes on harder subjects, shooting the buildings within their environment. The detail is so well realised that it takes the fantastical to remind us we&rsquo;re watching a representation rather than the actuality.

%p And indeed, as the piece goes on, it introduces tiny elements of the surreal.

.figure-box.featured
  .figure
    %a{:href => "http://www.flickr.com/photos/lachlanhardy/4262489432/in/set-72157623055201199/", :title => "By Lachlan Hardy, on Flickr"}
      %img{:src => "http://farm3.static.flickr.com/2682/4262489432_8bd9386295_o.png", :width => "800", :alt => ""}
    %p
      %a{:href => "http://www.flickr.com/photos/lachlanhardy/4262489432/in/set-72157623055201199/"} Lachlan Hardy

%p I&rsquo;ll post the video at the bottom for those who&rsquo;ve not seen it. It&rsquo;s an astonishing achievement - awe-inspiring and troubling in equal measure. I can&rsquo;t help look at this piece and wonder, "where&rsquo;s mine?"

%h2 Inspiring and troubling
%p What&rsquo;s my equivalent? How do you answer a man who reportedly took a year off to craft the ultimate expression of his passion and ability?

%p Over the past six weeks I&rsquo;ve often mulled over my work and considered it from the perspective I found through <i>The Third & The Seventh</i>. And I fall short.

%p There is no one site, product, or service that showcases all my skills. The ones that come closest, such as <a href="http://streamslide.com/">Streamslide</a> and this site, have any number of issues. The chief of which is time to fix them.

%p I don&rsquo;t write Ruby at <a href="http://atlassian.com/">work</a>, so what I do for Atlassian is a subset of what I can do technically (isn&rsquo;t everything?), but I&rsquo;m very proud of <a href="http://www.atlassian.com/opensocial/videos/jira_dashboard.jsp">the OpenSocial dashboard in JIRA 4.0</a> (warning: the video starts automatically - sorry!) and <a href="http://confluence.atlassian.com/display/AUI/">our common UI library</a>, amongst other things.

%p It&rsquo;s fitting that work achievements should be superior to those I do in my own time, but while I may do my best work at my job, it&rsquo;s less likely to be a full expression of myself. Work of any kind is bound to the problems being solved and by the necessities of the business.

.figure-box
  .figure
    %a{:href => "http://www.flickr.com/photos/lachlanhardy/4261746469/in/set-72157623055201199", :title => "By Lachlan Hardy, on Flickr"}
      %img{:src => "http://farm3.static.flickr.com/2716/4261746469_d6987a0f1c.jpg", :width => "500", :alt => ""}
    %p
      %a{:href => "http://www.flickr.com/photos/lachlanhardy/4261746469/in/set-72157623055201199"} Lachlan Hardy

%h2 To summarise without concluding

%p The <a href=http://www.flickr.com/photos/lachlanhardy/sets/72157623055201199/">full collection of screenshots from my favourite scenes</a> is on Flickr.

%p I strongly recommend you <a href="http://www.vimeo.com/7809605">watch The Third & The Seventh</a> fullscreen in HD. Block out the whole 12.30 and make sure you won&rsquo;t be interrupted. It&rsquo;s worth it.

%p I don&rsquo;t have an answer to this film yet. What I produce falls short of the fullest expression of who and what I am. Or so I sincerely hope. One day it will not; and that will be due, in part, to having seen this film.

.figure-box.featured
  .figure
    %a{:href => "http://www.flickr.com/photos/lachlanhardy/4262480500/in/set-72157623055201199", :title => "By Lachlan Hardy, on Flickr"}
      %img{:src => "http://farm5.static.flickr.com/4010/4262480500_b71a38bbb4_o.png", :width => "800", :alt => ""}
    %p
      %a{:href => "http://www.flickr.com/photos/lachlanhardy/4262480500/in/set-72157623055201199"} Lachlan Hardy


