- @title = "The Pinnacle"
- @published = "20100111 at 0700"
- @blurb = "<p>Care of the talented <span class='vcard'><a class='url fn' href='http://twitter.com/msharp' rel='met colleague friend'>Mr Sharp</a></span>, I discovered what I'm certain is the most beautiful design object I've ever seen and it's got me thinking.</p><p>The object is an artistic filmic piece on architecture. It's gorgeously shot, lovingly detailed, fantastically composed, and... <strong>entirely computer generated</strong>.</p>"


.figure-box
  .figure
    %a{:href => "http://www.flickr.com/photos/lachlanhardy/4262478232/in/set-72157623055201199", :title => "By Lachlan Hardy, on Flickr"}
      %img{:src => "http://farm3.static.flickr.com/2744/4262478232_c6948af2d8.jpg", :width => "500", :alt => ""}
    %p
      %a{:href => "http://www.flickr.com/photos/lachlanhardy/4262478232/in/set-72157623055201199"} Lachlan Hardy

%p Care of the talented <span class="vcard"><a class="url fn" href="http://twitter.com/msharp" rel="met colleague friend">Mr Sharp</a></span>, I discovered what I'm certain is the most beautiful design object I've ever seen and it has me thinking.

%p The object is an artistic filmic piece on architecture. It's gorgeously shot, lovingly detailed, fantastically composed, and... <strong>entirely computer generated</strong>.

%h2 The Third & The Seventh
.figure-box.minor
  .figure
    %a{:href => "http://www.flickr.com/photos/lachlanhardy/4262473112/in/set-72157623055201199", :title => "By Lachlan Hardy, on Flickr"}
      %img{:src => "http://farm5.static.flickr.com/4002/4262473112_61ca4d9aa4_m.jpg", :width => "240", :alt => ""}
    %p
      %a{:href => "http://www.flickr.com/photos/lachlanhardy/4262473112/in/set-72157623055201199"} Lachlan Hardy
      
%p <span class="vcard"><a class="url fn" href="http://alexroman.com/">Alex Roman</a></span> did the modelling, texturing, lighting and rendering. He did postproduction, editing and direction. Unbelievably, he also did the musical sequencing, orchestration and mixing.

%p This film is one man's dedication to a vision, the fullest realisation of his talents.

.figure-box.minor
  .figure
    %a{:href => "http://www.flickr.com/photos/lachlanhardy/4262484078/in/set-72157623055201199", :title => "By Lachlan Hardy, on Flickr"}
      %img{:src => "http://farm5.static.flickr.com/4022/4262484078_8d13bc4a5c_m.jpg", :width => "240", :alt => ""}
    %p
      %a{:href => "http://www.flickr.com/photos/lachlanhardy/4262484078/in/set-72157623055201199"} Lachlan Hardy

%p The film starts with classic architectural designs. Panning across shapes, exploring light. It gradually takes on harder subjects, shooting the buildings within their environment. The detail is so well realised that it takes the fantastical to remind us we're watching a representation rather than the actuality.

%p And indeed, as the piece goes on, it introduces tiny elements of the surreal.

.figure-box.featured
  .figure
    %a{:href => "http://www.flickr.com/photos/lachlanhardy/4262489432/in/set-72157623055201199/", :title => "By Lachlan Hardy, on Flickr"}
      %img{:src => "http://farm3.static.flickr.com/2682/4262489432_8bd9386295_o.png", :width => "800", :alt => ""}
    %p
      %a{:href => "http://www.flickr.com/photos/lachlanhardy/4262489432/in/set-72157623055201199/"} Lachlan Hardy

%p I'll post the video at the bottom for those who've not seen it. It's an astonishing achievement - awe-inspiring and troubling in equal measure. I can't help look at this piece and wonder, "where's mine?"

%h2 Inspiring and troubling
%p What's my equivalent? How do you answer a man who took a year off to craft the ultimate expression of his passion and ability?

%p I've spent the past day mulling over my work and considering it in the perspective I found through <i>The Third & The Seventh</i>. And I fall short.

%p There is no one site, product, or service that showcases all my skills. The ones that come closest, such as <a href="http://streamslide.com/">Streamslide</a> and this site, have any number of issues. The chief of which is time to fix them.

%p I don't write Ruby at <a href="http://atlassian.com/">work</a>, so it's a subset of what I can do technically (isn't everything?), but I'm very proud of <a href="http://www.atlassian.com/opensocial/videos/jira_dashboard.jsp">the OpenSocial dashboard in JIRA 4.0</a> (warning: the video starts automatically - sorry!) and <a href="http://confluence.atlassian.com/display/AUI/">our common UI library</a>, amongst other things.

%p It's fitting that work achievements should be superior to those I do in my own time, but while I may do my best work at my job, it's less likely to be a full expression of myself. Work of any kind is bound to tied to the problems being solved and the necessities of the business.

.figure-box
  .figure
    %a{:href => "http://www.flickr.com/photos/lachlanhardy/4261746469/in/set-72157623055201199", :title => "By Lachlan Hardy, on Flickr"}
      %img{:src => "http://farm3.static.flickr.com/2716/4261746469_d6987a0f1c.jpg", :width => "500", :alt => ""}
    %p
      %a{:href => "http://www.flickr.com/photos/lachlanhardy/4261746469/in/set-72157623055201199"} Lachlan Hardy

%h2 Resolution

%p I'm not one for New Year This and New Year That, and I realise I often use these articles to talk about how I'm reinventing my motivation and life - again. But nonetheless: this year I'll be pushing myself to do more in the personal stakes. To deliver such quality production of sites that I can be as proud of them as I am of what I'm paid to do.

%p Seems a tall order, so I'll have to break it down. The two obvious contenders for are Slidestream and Lachstock. Luckily, I already started with the latter on holidays. New stuff coming soon!

%h2 The Link

%p The <a href=http://www.flickr.com/photos/lachlanhardy/sets/72157623055201199/">full collection of screenshots from my favourite scenes</a> is on Flickr.

%p I strongly recommend you <a href="http://www.vimeo.com/7809605">watch The Third & The Seventh</a> fullscreen in HD. Block out the whole 12.30 and make sure you won't be interrupted. It's worth it.

.figure-box.featured
  .figure
    %a{:href => "http://www.flickr.com/photos/lachlanhardy/4262480500/in/set-72157623055201199", :title => "By Lachlan Hardy, on Flickr"}
      %img{:src => "http://farm5.static.flickr.com/4010/4262480500_b71a38bbb4_o.png", :width => "800", :alt => ""}
    %p
      %a{:href => "http://www.flickr.com/photos/lachlanhardy/4262480500/in/set-72157623055201199"} Lachlan Hardy


