.item_meta
.item_tags
  Tags:
  %a{ :href => "http://log.lachstock.com.au/past/tags/LisaHerrod", :title => "View posts tagged with &quot;LisaHerrod&quot;" }
    LisaHerrod
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/calltoaction", :title => "View posts tagged with &quot;calltoaction&quot;" }
    calltoaction
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/geeks", :title => "View posts tagged with &quot;geeks&quot;" }
    geeks
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/howto", :title => "View posts tagged with &quot;howto&quot;" }
    howto
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/installation", :title => "View posts tagged with &quot;installation&quot;" }
    installation
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/markpesce", :title => "View posts tagged with &quot;markpesce&quot;" }
    markpesce
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/meraki", :title => "View posts tagged with &quot;meraki&quot;" }
    meraki
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/meshnetworking", :title => "View posts tagged with &quot;meshnetworking&quot;" }
    meshnetworking
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/network", :title => "View posts tagged with &quot;network&quot;" }
    network
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/setup", :title => "View posts tagged with &quot;setup&quot;" }
    setup
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/thepeoplearethenetwork", :title => "View posts tagged with &quot;thepeoplearethenetwork&quot;" }
    thepeoplearethenetwork
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/wifi", :title => "View posts tagged with &quot;wifi&quot;" }
    wifi
.item_hierarchy
  Hierarchy:
  %a{ :href => "http://log.lachstock.com.au/past/2007/5/20/make-the-leap/", :title => "Previous post" }
    previous
  ,
  %a{ :href => "http://log.lachstock.com.au/past/2007/10/17/meraki-madness/", :title => "Next post" }
    next

