.index
  %h1 Index

  %ol
    - for year in @items.keys.sort.reverse
      %li
        %h2= year
        %ol
          - for month in @items[year].keys.sort.reverse
            %li
              %h3= Time.local(2008, month, 1).strftime("%B")
              %ol
                - for item in @items[year][month].sort
                  %li
                    %h4
                      %a{:href => "/#{@category}/#{item.slug}"}= item.title

