
            .item_details
              %h1
                Podcast For Your Pleasure
              %p
                %strong
                  Posted by
                  %a{ :href => "http://log.lachstock.com.au/past/authors/2", :title => "View all posts by lachlanhardy" }
                    lachlanhardy
                  on
                  %a{ :href => "http://log.lachstock.com.au/past/2008/9/4/podcast-for-your-pleasure/", :title => "Permalink for this post" }
                    20080904 at 1036
            .item_content
              %div{ :style => "float: right;" }
                %a{ :href => "http://flickr.com/photos/lgwebnetwork/2825159524/" }
                  %img{ :src => "http://farm4.static.flickr.com/3080/2825159524_e68b4600f1_m.jpg", :alt => "Lachlan Hardy - PDFs" }
                %p{ :style => "text-align: right; margin: 0 0 1em 0;" }
                  Photo:
                  %a{ :href => "http://flickr.com/photos/lgwebnetwork/2825159524/" }
                    Local Government Web Network
              %h2
                The Video
              %p
                The moment I’ve been dreading for the last few weeks has arrived. The footage of my closing keynote at the
                %a{ :href => "http://lgwebnetwork.org/conference" }
                  LGwebnetwork conference
                is up on their website.
                %span.vcard
                  %span.fn.url
                    Diana Mounter
                has posted
                %a{ :href => "http://lgwebnetwork.org/2008/09/04/local-government-on-the-open-web/" }
                  a very nice introduction
                to it, you can
                %a{ :href => "http://lgwebnetwork.org/podcasts08/Lachlan-Hardy.html" }
                  watch the full video
                in a few different formats and I have a
                %a{ :href => "http://log.lachstock.com.au/past/2008/8/25/local-government-open-web/" }
                  post with more details and the slides
                \.
              %p
                I’ve been feeling masochistic this week, so I’ve watched it myself and cringed at the appropriate moments, like when my mic fell off. Diana promised to have that edited out, but I knew at the time they wouldn’t… and they didn’t.
              %p
                I want to apologise for neglecting to repeat the questions from the audience and for the few gross generalisations I dropped in to keep things moving along. Hopefully, you can pick up the context of the questions from my responses.
              %p
                In other related news, I am loving the
                %a{ :href => "http://www.flickr.com/photos/lachlanhardy/sets/72157606928636690/" }
                  very cool thank you gift
                from the conference organisers.
              %p
                It was an honour to deliver this presentation. I’m really excited about the Open Web I see developing and I want to share that with everybody. Thanks to all of you who’ve contacted me with your own comments, opinions and passion. I really do believe we’re building a beautiful, free, and open web!
            .item_meta
              .item_tags
                Tags:
                %a{ :href => "http://log.lachstock.com.au/past/tags/DianaMounter", :title => "View posts tagged with &quot;DianaMounter&quot;" }
                  DianaMounter
                ,
                %a{ :href => "http://log.lachstock.com.au/past/tags/LachlanHardy", :title => "View posts tagged with &quot;LachlanHardy&quot;" }
                  LachlanHardy
                ,
                %a{ :href => "http://log.lachstock.com.au/past/tags/lgwebnetwork", :title => "View posts tagged with &quot;lgwebnetwork&quot;" }
                  lgwebnetwork
                ,
                %a{ :href => "http://log.lachstock.com.au/past/tags/lgwn08", :title => "View posts tagged with &quot;lgwn08&quot;" }
                  lgwn08
                ,
                %a{ :href => "http://log.lachstock.com.au/past/tags/openweb", :title => "View posts tagged with &quot;openweb&quot;" }
                  openweb
                ,
                %a{ :href => "http://log.lachstock.com.au/past/tags/podcast", :title => "View posts tagged with &quot;podcast&quot;" }
                  podcast
                ,
                %a{ :href => "http://log.lachstock.com.au/past/tags/presentation", :title => "View posts tagged with &quot;presentation&quot;" }
                  presentation
                ,
                %a{ :href => "http://log.lachstock.com.au/past/tags/video", :title => "View posts tagged with &quot;video&quot;" }
                  video
              .item_hierarchy
                Hierarchy:
                %a{ :href => "http://log.lachstock.com.au/past/2008/8/25/local-government-open-web/", :title => "Previous post" }
                  previous
                ,
                %a{ :href => "http://log.lachstock.com.au/past/2008/10/19/gitjour-the-quickening/", :title => "Next post" }
                  next
         