- @title = "Feed button in Raphaël"
- @published = "20100103 at 1400"
- @blurb = "trest"


%p I decided this site should have an in-page feed subscription link rather than rely solely on browser autodiscovery. I'm also experimenting with the idea that decorative images, such as those that would be normally served as background images via CSS, may not require an image at all. In some cases it will be simpler, faster, and saves an HTTP request, to draw them using <a href="http://raphaeljs.com/">Raphaël</a>. So here's how I made my new feed subscription icon.

%h2 HTML

= code_sample("sample-1.html")



