/* mods for pure.css */
.pure-g-r > section,
.pure-g-r > aside {
  box-sizing: border-box; 
  padding: 1em;
}

/* mods for pure-skin.css */
.pure-skin-mine .pure-menu span {
  display: block;
  color: inherit;
  line-height: 1.5em;
  padding: 0.35em 1.4em;
  text-decoration: none;
  white-space: nowrap;
}

.entry-content {max-width: 36em;}