/* mods for pure.css */
.pure-g-r > section,
.pure-g-r > aside {
  box-sizing: border-box; 
  padding: 1em;
}

/* mods for pure-skin.css */
.pure-skin-mine .pure-menu span {
  display: block;
  color: inherit;
  line-height: 1.5em;
  padding: 0.35em 1.4em;
  text-decoration: none;
  white-space: nowrap;
}

/* Indices */
.archive {list-style-type: none; position: relative;}
.archive ol,
.archive li,
.archive h2,
.archive h3 {margin: 0; padding: 0;}
.archive h4 {margin: 0 0 0.5em; padding: 0;}
.archive .year {
  left: 5em;
  list-style-type: none;
  position: relative;
  top: -3.2em;
}
.archive .month {
  left: 5em;
  list-style-type: none;
  position: relative;
  top: -1.5em;
}
.archive .article {
  left: 7em;
  list-style-type: none;
  position: relative;
  top: -1.1em;
}

/* Articles */
.entry-content {max-width: 36em;}
