/****
Lachstock
http://lachstock.com.au
20091111

TOC
=Generic Rules
  =Generic Text
    =Links
    =Headings
    =Body Text
    =Date, Times etc
  =Generic Forms
=Structure
  =Header
  =Nav
  =Page
    =Columns
    =Components
      =Archive
      =Posts
      =Blog
      =Facets
      =Tags
      =Tagspace
      =Tagged
      =hcard-Lachlan-Hardy
  =Footer
=JS
  =Github
  =Flickr-pic
  =Graph

****/

/* =Generic Rules */
  /* =Generic Text */
  blockquote {background: #fafafa; border: 1px solid #aaa; color: #444; margin: 1em; overflow: auto; padding: 0 1em 0 1em;}

    blockquote:before,
    blockquote:after {color: #aaa; font-size: 1em;}

    blockquote:before {content: "start quote";}
    blockquote:after {content: "end quote";}

      blockquote cite {display: block; float: right; margin: 0 0 1em 0; width: auto;}
  
  q {font-size: 1.1em;}
    
  /* =Links */
  a:link {color: #0066B3;}
  a:visited {color: #464646;}
  a:hover, a:active, a:focus {color: #FF8000;}

  /* =Headings */
  h1, h2, h3, h4, h5, h6 {font-family: "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif; margin: 1em 0 0.5em 0;}
  h1 {font-size: 3em; margin: 0 0 0.5em 0;}
  h2 {font-size: 2em;}
  h3 {font-size: 1.8em;}
  h4 {font-size: 1.5em;}
  h5 {font-size: 1.3em;}
  h6 {font-size: 1.1em;}

  /* =Body Text */
  article p,
  article li,
  article ol,
  article ul {margin: 0 0 0.5em;}
  article p {font-size: 1.07em; line-height: 1.5;}
  article ul {}
  	article ul li {font-size: 1.07em; list-style-position: inside; list-style-type: disc;}
  article ol {}
  	article ol li {font-size: 1.07em; list-style-position: inside; list-style-type: decimal;}
    article ol ol,
    article ol ul,
    article ul ol,
    article ul ul {margin: 0 0 0.5em 1em;}
	
  .amp {background: #0e0e0e; color: #666; font: italic 100 1.25em Baskerville, "Goudy Old Style", "Palatino", Georgia, "Book Antiqua", serif; position: relative; top: 2px;}

  /* =Dates, Times etc */
  .date {font: 1em/1.6 Georgia, serif;}

/* =Structure */
html,
body {height: 100%;}

body {background: #fff; color: #0e0e0e; font: 62.5%/1.3 "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif; margin: 0; padding: 0;}

#wrapper {min-height: 100%; overflow: hidden;}

  /* =Header */
  header.layout {background: #ff8000; color: #fff; min-height: 6em; margin: 0 0 2.8em 0; padding: 0.2em 1em 0 1em; position: relative;}
    header.layout h1 {background: transparent; color: #fff; font: 700 5em "Courier New", monospace; left: 0.05em; letter-spacing: 0.2em; margin: 0; position: absolute; text-transform: uppercase; top: 0.46em; width: auto;}
    header.layout h1 span,
    header.layout h1 a {border: 0.1em solid transparent; padding: 0.1em 0.2em 0;}
    header.layout h1 a:link,
    header.layout h1 a:visited {background: transparent; color: #fff; text-decoration: none;}
    header.layout h1 a:hover,
    header.layout h1 a:active,
    header.layout h1 a:focus {background: #fff; border: 0.1em solid #ff8000; color: #ff8000;}
    
    header.layout p {background: transparent; color: #fff; font: 300 2em "Courier New", monospace; left: 20em; letter-spacing: 0.1em; margin: 0; position: absolute; top: 2.25em; width: auto;}
  
  /* =Nav */
  nav {overflow: auto;}
    nav ul {border-right: 0.5em solid #333; float: left; width: auto;}
      nav ul li {float: left; width: auto;}
        nav ul li a,
        nav ul li span {border: 0.5em solid #333; border-left: none; border-right: none; display: block; font-size: 1.4em; font-weight: 700; padding: 0.5em 1.1em; position:relative; z-index:1;}
        nav ul li span {background: #fff; color: #666;}
        nav ul li a:link,
        nav ul li a:visited {background: #fff; color: #111;}
        nav ul li a:hover,
        nav ul li a:active,
        nav ul li a:focus {background: #fff; border-color: #ff8000; color: #ff8000; text-decoration: none;}
  
  /* =Page */
  #page {font-size: 1.5em; margin: 0.5em 0 0 0; padding: 1em 1em 1em 0; position: relative;}

    /* =Columns */    
    section {float: left; margin: 0 0 -80em 20.3em; min-height:  100%; padding: 1em 0 90em 1em; position: relative; width: auto;}
    body.layout-abb section {margin: 0 0 -80em 1em; width: 21.48em;}  
    body.layout-abb #twitter {margin: 0 0 -80em 0; width: 18.3em;}
    body.tags section {width: 50em;}
      
      article {margin: 0 0 1em 0;}
      body.home article {margin: 0 0 1em 0;}
        article h2 {margin: 1em 0 0.2em 0;}
        body.home article h2 {margin: 0 0 0.2em 0;}

/*        #page article ul li {list-style-type: none;}*/
      
        p.category {color: #999; float: left; font-size: 3em; left: 1.5em; position: absolute; text-align: right; text-transform: capitalize; top: 0.65em; width: 5em;}
    
    #twitter #status {border: 2px solid #aaa; -moz-border-radius: 5px; -safari-border-radius: 5px; padding: 1em;}
      #status p {line-height: 1.2; margin: 0; overflow: hidden;}
        #status #status-link {display: block; font-size: 0.7em; margin: 0.5em 0 0 0; text-align: right;}
    #twitter img {background: #fff url('/stylesheets/images/bg-status-img.gif') no-repeat 30% 0; margin: 0.3em 0 0 0; padding: 33px 0 0 0; position: absolute; right: 0; }

    /* =Components */
      /* =Archive */
      ol.archive {margin: 0 0 0 12em;}
        ol.archive li {list-style-type: none; margin: 0 0 4em 0; position: relative;}
          ol.archive li h2 {font-size: 1.5em; left: -7.6em; line-height: 1; margin: 0; position: absolute; top: -0.23em;}
          ol.archive li a {}
      
          ol.archive ol {margin: 0;}
            ol.archive ol li {margin: 0 0 2em 0;}
              ol.archive ol li h3 {font-size: 1.2em; left: -5.5em; line-height: 1; margin: 0; position: absolute; text-align: right; top: -0.1em; width: 5em;}
              ol.archive ol li a {}
          
              ol.archive ol ol {}
                ol.archive ol ol li {margin: 0 0 0.5em 0;}
                  ol.archive ol ol li h4 {font-size: 1em; line-height: 1; margin: 0;}
                  ol.archive ol ol li a {}

      /* =Posts */ 
      .post-title {margin:  0 0 1em 0;}
        .post-title h1 {margin: 0;}
        .post-title p {margin: 1em 0 0 0;}

        .hentry address {display: inline; font-size: 1.3em; margin: 0 0.8em 0 0;}
          .hentry .published {margin: 0 1em 0 0;}

      .entry-content { width: 36em;}

      .post-body p:first-child:first-line {font-weight: 700; line-height: 2.1;}
      .post-body p:first-child:first-letter {float: left; font: 300 2.1em Georgia, serif; width: auto;}

        .figure-box {float: left; margin: 0 0 1em 0; padding: 1em; width: auto;}
        .figure-box.minor {float: right; margin: 0 0 1em 1em; padding: 0.5em 1em 1em 1em; width: 18em;}
        .figure-box.featured {clear: both; margin: 1em 0 1em -21.3em;}
          .figure {background: #fff; border: 1px solid #ccc; overflow: auto; padding: 1em; text-align: center;}
            .figure img {}
            .figure object,
            .figure embed {}
            .figure p {background: #fff; color: #555; font-size: 0.8em; float: right; margin: 0; width: auto;}
            .figure-box.minor p {float: none;}
        
      /* =Comments */
      #comments {margin: 3em 0 1em -2em; padding: 0 0 1em 2em;}
          #comments p.blurb {font-size: 1.5em; margin: 0 0 1em 0;}
          #comments .comment {margin: 0 0 2em 0; position: relative;}
              .comment .vcard {display: block; margin: 0 0 0.3em 0; position: relative;}
                  .comment .vcard img.photo {border: 2px solid #bfe4ff; left: -122px; position: absolute; top: 3px;}
                  #comments .lachstock .photo {border-color: #ff8000;}
                  .comment .vcard .fn {background: #fff; color: #000; display: block; font-size: 2em; line-height: 1;}
                    .comment .vcard a.fn:link,
                    .comment .vcard a.fn:visited {background: #fff; color: #0e0e0e; text-decoration: none;}
                    .comment .vcard a.fn:hover,
                    .comment .vcard a.fn:active,
                    .comment .vcard a.fn:focus {background: #fff; color: #ff8000;}
              .comment .entry-content {margin: 1em 0 0 0;}
              
          #post-comment {margin: 3em 0 1em -2em; padding: 0 1em 1em 1em;}
     
      /* =Blog */
      #blog {border-width: 0.5em; font-size: 2em; margin: 0 0 0 -1em; padding: 0 0 0 0.5em;}
      
      /* =Facets */
      #facets {margin: 5em 0 1em 0;}
        #facets ul li {list-style-type: none;}

      /* =Tags */
      #tags {color: #444; float: left; margin: -0.4em 0 1em -11em; text-align: right; width: 9em;}
        #tags h1 {color: #999; font-size: 1.5em; margin: 0 0 0.2em 0;}
        #tags ul {margin: 0 0 0.5em 0; padding: 0;}
          #tags li {list-style-type: none; margin: 0 0 0.2em 0;}
            #tags a:link {color: #555;}
            #tags a:visited {color: #999;}
            #tags a:hover,
            #tags a:active, 
            #tags a:focus {color: #FF8000;}

      /* =Tagspace */
      #tagspace {}
        #tagspace h1 {}
        #tagspace ul {text-align: center; width: 30em;}
          ul.taglist li {display: inline; line-height: 1.8; list-style-type: none; margin: 0 2.1em 0 0;}
            #tagspace a {text-decoration: none; white-space: nowrap;}
            #tagspace em {font-size: 0.8em;}
            #tagspace .common {display: none;}
            #tagspace .tagged2times {font-size: 1em;}
            #tagspace .tagged3times {font-size: 1.3em;}
            #tagspace .tagged4times {font-size: 1.5em;}
            #tagspace .tagged5times {font-size: 1.7em;}
            #tagspace .tagged6times {font-size: 1.9em;}
            #tagspace .tagged7times {font-size: 2.1em;}
            #tagspace .tagged8times {font-size: 2.2em;}
            #tagspace .tagged9times {font-size: 2.5em;}
      
      /* =Tagged */
      #tagged {}
        #tagged h1 {}
        #tagged ul {}
          #tagged li {list-style-type: none;}
            #tagged strong {float: left; font-size: 1.2em; font-weight: 300; margin: 0 1em 0 0; text-align: right; width: 6em;}
            #tagged a {line-height: 1.7;}

      /* =hcard-Lachlan-Hardy */
      #hcard-Lachlan-Hardy {margin: 3em 0 1em 0;}
        #hcard-Lachlan-Hardy img {float: right; margin: 0 0 0 1em; width: auto;}
        #hcard-Lachlan-Hardy li {list-style-type: none;}
        #hcard-Lachlan-Hardy ul.tags {margin: 0 0 0.5em 0; overflow: auto;}
          #hcard-Lachlan-Hardy ul.tags li {float: left; margin: 0 0.5em 0 0; width: auto;}
  
          #hcard-Lachlan-Hardy a.fn,
          #hcard-Lachlan-Hardy a.fn:link,
          #hcard-Lachlan-Hardy a.fn:visited,
          #hcard-Lachlan-Hardy a.fn:hover,
          #hcard-Lachlan-Hardy a.fn:active,
          #hcard-Lachlan-Hardy a.fn:focus {background: #fff; color: #0e0e0e; font-size: 0.9em; text-decoration: none;}


  /* =Footer */
  footer.layout {background: #111; clear: both; color: #fff; font-size: 1.5em; margin: -2.4em 0 0 0; position: relative; bottom: 0; text-align: center; width: 100%;}
    footer.layout p {border-top: 2px solid #444; padding: 0.5em;}
      footer.layout a:link {color: #0066B3;}
      footer.layout a:visited {color: #fff;}
      footer.layout a:hover, 
      footer.layout a:active, 
      footer.layout a:focus {color: #FF8000;}

/* =JS */
html.js {}
    
  /* =Github */
  #github {width: 24em;}
    #github dl {}
      #github dt {font-weight: 700; margin: 0 0 0.5em 0;}
        #github dt strong {display: block;}
          #github dt a {}
        #github dt span.date {font-size: 0.8em; font-style: italic;}
      #github dd {margin: 0 0 0 1em;}
        #github dd.repo {}
          #github dd.repo a {}
        #github dd.filenames {background: transparent; color: #666;}
          #github dd.filenames ul {padding: 0 0 0 1.4em;}
            #github dd.filenames li {list-style-type: disc; margin: 0;}
        #github dd.date {}

  /* =Flickr-pic */
  #flickr-pic {}
    #flickr-pic img {background: #fff; padding: 20px 20px 30px 20px; border: 1px solid #d3dada; margin: 1em;}

  /* =Graph */
  #graph {margin: -2em 0 0 0; width: 30em;}
