/****
Lachstock
http://lachstock.com.au
20090321

TOC
- =Generic Rules
	-- =Generic Text
		 --- =Links
		 --- =Headings
		 --- =Body Text
		 --- =Date, Times etc
	-- =Generic Forms
- =Structure
  -- =Columns
  -- =Footer
- =JS Enabled

****/


/* - =Generic Rules - */

	/* -- =Generic Text -- */
    
    blockquote {background: #fafafa; border: 1px solid #aaa; color: #444; margin: 1em; padding: 0 1em 0 1em;}
    
    blockquote:before,
    blockquote:after {color: #aaa; font-size: 1em;}
    
    blockquote:before {content: "start quote";}
    blockquote:after {content: "end quote";}
    
    q {font-size: 1.1em;}
    
		/* --- =Links --- */
		a:link {color: #0066B3;}
		a:visited {color: #464646;}
		a:hover, a:active, a:focus {color: #FF8000;}
		
		/* --- =Headings --- */
		h1, h2, h3, h4, h5, h6 {font-family: 'Archer Semibold', 'Clarendon Std', 'Century Old Style Std', 'Century Schoolbook', Georgia, serif; margin: 1em 0 0.5em 0;}
		h1 {font-size: 3em; margin: 0 0 0.5em 0;}
		h2 {font-size: 2em;}
		h3 {font-size: 1.8em;}
		h4 {font-size: 1.5em;}
		h5 {font-size: 1.3em;}
		h6 {font-size: 1.1em;}

		
		/* --- =Body Text --- */
		.column p,
		.column li,
		.column ol,
		.column ul {margin: 0 0 0.5em;}
		.column p {font-size: 1.07em; line-height: 1.5;}
		.column ul {}
			.column ul li {font-size: 1.07em; list-style-position: inside; list-style-type: disc;}
		.column ol {}
			.column ol li {font-size: 1.07em; list-style-position: inside; list-style-type: decimal;}
		  .column ol ol,
		  .column ol ul,
		  .column ul ol,
		  .column ul ul {margin: 0 0 0.5em 1em;}
			
		.amp {background: #0e0e0e; color: #666; font: italic 100 1.25em Baskerville, "Goudy Old Style", "Palatino", Georgia, "Book Antiqua", serif; position: relative; top: 2px;}
		

		/* --- =Dates, Times etc --- */
		.date {font: 1em/1.6 Georgia, serif;}


/* - =Structure - */
html,
body {height: 100%;}

body {background: #fff; color: #0e0e0e; font: 62.5%/1.3 "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif; margin: 0; padding: 0;}

#wrapper {min-height: 100%; overflow: hidden;}

  #header {background: #0e0e0e; border-bottom: 1px solid #666; color: #fff; overflow: auto; padding: 0.2em 1em 0.5em 1em;}
    #header h1,
    #header p.site-title {background: #0e0e0e; color: #ff8000; float: left; font-size: 3em; font-weight: 700; letter-spacing: 0.06em; margin: 0; width: auto;}
    #header p.site-title a:link,
    #header p.site-title a:visited {background: #0e0e0e; color: #ff8000; text-decoration: none;}
    #header p.site-title a:hover,
    #header p.site-title a:active,
    #header p.site-title a:focus {background: #0e0e0e; color: #ff8000; text-decoration: underline;}
    
    #header #status {font-size: 1.8em; margin: 0 0 0.2em 10em; padding: 0.65em 0 0 0;}
      #status p {}
      #status a:link {background: #0e0e0e; color: #0066B3;}
      #status a:visited {background: #0e0e0e; color: #ccc;}
      #status a:hover, 
      #status a:active, 
      #status a:focus {background: #0e0e0e; color: #ff8000;}
      
      #status #status-link {margin: 0 0 0 0.8em; position: relative; top: 0.14em; visibility: hidden;}
      #status:hover #status-link {visibility: visible;}

  #nav {background: #222; border-bottom: 2px solid #666; color: #fff; overflow: auto;}
    #nav ul {border: 2px solid #444; border-bottom: none; border-top: none; float: left; margin: 0 0 0 1em; width: auto;}
      #nav ul li {float: left; width: auto;}
        #nav ul li a,
        #nav ul li span {border: 2px solid #444; border-bottom: none; border-top: none; display: block; font-size: 1.4em; font-weight: 700; padding: 0.5em 1.2em;}
        #nav ul li span {background: #222; color: #fff;}
        #nav ul li a:link,
        #nav ul li a:visited {background: #111; color: #fff; text-decoration: none;}
        #nav ul li a:hover,
        #nav ul li a:active,
        #nav ul li a:focus {border-color: #ff9900; background: #ff8000; color: #111;}
  
  #page {border-top: 1em solid #BFE4FF; font-size: 1.5em; padding: 0 1em 0 0; position: relative;}
  
    /* -- =Columns -- */    
    .column {border-left: 1em solid #bfe4ff; float: left; margin: 0 0 -80em 16em; min-height:  100%; padding: 1em 0 90em 1em; position: relative; width: auto;}
      .home .column {margin: 0 0 -80em 1em; width: 19em;}
      .item {margin: 0 0 1em 0;}
    
      .featured,
      #post-comment {background: #bfe4ff; border-left: 1em solid #80c9ff; margin: 0 0 1em -2em; padding: 0 0 1em 1em;}
    
        #page .item ul li {list-style-type: none;}
      
        p.category {color: #555; float: left; font-size: 3em; left: 0; position: absolute; text-align: right; text-transform: capitalize; top: 0.34em; width: 5em;}
     
  
  /* -- =Archive -- */
  ol.archive {margin: 0 0 0 12em;}
    ol.archive li {list-style-type: none; margin: 0 0 4em 0; position: relative;}
      ol.archive li h2 {font-size: 1.5em; left: -7.6em; line-height: 1; margin: 0; position: absolute; top: -0.23em;}
      ol.archive li a {}
      
      ol.archive ol {margin: 0;}
        ol.archive ol li {margin: 0 0 2em 0;}
          ol.archive ol li h3 {font-size: 1.2em; left: -5.5em; line-height: 1; margin: 0; position: absolute; text-align: right; top: -0.03em; width: 5em;}
          ol.archive ol li a {}
          
          ol.archive ol ol {}
            ol.archive ol ol li {margin: 0 0 0.5em 0;}
              ol.archive ol ol li h4 {font-size: 1em; line-height: 1; margin: 0;}
              ol.archive ol ol li a {}
  
  
  /* -- =Posts -- */ 
    .post-title {margin:  0 0 1em 0;}
      .post-title h1 {margin: 0;}
      .post-title p {margin: 1em 0 0 0;}
    
      .hentry address {display: inline; font-size: 1.3em; margin: 0 0.8em 0 0;}
        .hentry .published {margin: 0 1em 0 0;}
    
    .entry-content { width: 36em;}
    
    .post-body p:first-child:first-line {font-weight: 700; line-height: 2.1;}
    .post-body p:first-child:first-letter {float: left; font-size: 2em; font-weight: 300; width: auto;}
    
       #imgtest {background: #fff; border:1em solid #bfe4ff; clear: both; float: left; margin: 2em 0 2em -17em; padding: 1em; overflow: auto; width: auto;}
          #imgtest img {}
          #imgtest p {color: #555; font-size: 0.8em; float: right; margin: 0; width: auto;}
        
      
      #comments {border-top: 1em solid #bfe4ff; margin: 3em 0 1em -2em; padding: 0 0 1em 2em;}
          #comments p.blurb {font-size: 1.5em; margin: 0 0 1em 0;}
          #comments .comment {margin: 0 0 2em 0; position: relative;}
              .comment .vcard {display: block; margin: 0 0 0.3em 0; position: relative;}
                  .comment .vcard img.photo {border: 2px solid #bfe4ff; left: -145px; position: absolute; top: 0;}
                  #comments .lachstock .photo {border-color: #ff8000;}
                  .comment .vcard .fn {background: #fff; color: #000; display: block; font-size: 2em; line-height: 1;}
                    .comment .vcard a.fn:link,
                    .comment .vcard a.fn:visited {background: #fff; color: #0e0e0e; text-decoration: none;}
                    .comment .vcard a.fn:hover,
                    .comment .vcard a.fn:active,
                    .comment .vcard a.fn:focus {background: #fff; color: #ff8000;}
              .comment .entry-content {margin: 1em 0 0 0;}
              
          #post-comment {margin: 3em 0 1em -2em; padding: 0 1em 1em 1em;}
     

  .home .vcard a.fn,
  .home .vcard a.fn:link,
  .home .vcard a.fn:visited,
  .home .vcard a.fn:hover,
  .home .vcard a.fn:active,
  .home .vcard a.fn:focus {background: #fff; color: #0e0e0e; text-decoration: none;}
  
  #blog {border-width: 0.5em; font-size: 2em; margin: 0 0 0 -1em; padding: 0 0 0 0.5em;}
  
  #github {width: 24em;}
    #github dl {}
      #github dt {font-weight: 700; margin: 0 0 0.5em 0;}
        #github dt strong {display: block;}
          #github dt a {}
        #github dt span.date {font-size: 0.8em; font-style: italic;}
      #github dd {margin: 0 0 0 1em;}
        #github dd.repo {}
          #github dd.repo a {}
        #github dd.filenames {background: transparent; color: #666;}
          #github dd.filenames ul {padding: 0 0 0 1.4em;}
            #github dd.filenames li {list-style-type: disc; margin: 0;}
        #github dd.date {}
        
  #flickr-pic {}
    #flickr-pic img {background: #fff; padding: 20px 20px 30px 20px; border: 1px solid #d3dada; margin: 1em;}
        
    #tagspace {}
      #tagspace h1 {}
      #tagspace ul {}
        ul.taglist li {float: left; list-style-type: none; margin: 0 1em 1em 0; width: auto;}
          #tagspace em {font-size: 0.8em;}
          
    #tagged {}
      #tagged h1 {}
      #tagged ul {}
        #tagged li {list-style-type: none;}
          #tagged strong {float: left; font-size: 1.2em; font-weight: 300; margin: 0 1em 0 0; text-align: right; width: 6em;}
          #tagged a {line-height: 1.7;}
        
    #tags {color: #444; float: left; margin: -2.8em 0 1em -12.5em; width: 9em;}
      #tags h2 {font-size: 1.5em; margin: 0 0 0.2em 0;}
      #tags ul {background: #fafafa; border: 1px solid #aaa; margin: 0 0 0.5em 0; padding: 0.5em 1em 0.5em 1em;}
        #tags li {list-style-type: none; margin: 0 0 0.2em 0;}
  
  /* -- =About -- */
  body.about .vcard {padding: 0 0 0 140px; position: relative;}
    body.about .vcard img {left: 0; position: absolute; top: 0;}
    body.about .vcard ul.tags {overflow: auto;}
      body.about .vcard ul.tags li {float: left; width: auto;}
  
        
  /* -- =Footer -- */
  #footer {background: #0e0e0e; border-top: 1em solid #BFE4FF; clear: both; color: #fff; font-size: 1.5em; margin: -4.4em 0 0 0; position: relative; bottom: 0; text-align: center; width: 100%;}
    #footer p {border-top: 2px solid #666; padding: 1em;}
      #footer a:link {color: #0066B3;}
      #footer a:visited {color: #fff;}
      #footer a:hover, #footer a:active, #footer a:focus {color: #FF8000;}

/* - =JS enabled - */

html.js {}
