/****
Lachstock
http://lachstock.com.au
20090321

TOC
- =Generic Rules
	-- =Generic Text
		 --- =Links
		 --- =Headings
		 --- =Body Text
		 --- =Date, Times etc
	-- =Generic Forms
- =Structure
  -- =Columns
  -- =Footer
- =JS Enabled

****/


/* - =Generic Rules - */

	/* -- =Generic Text -- */

		/* --- =Links --- */
		a:link {color: #0066B3;}
		a:visited {color: #464646;}
		a:hover, a:active, a:focus {color: #FF8000;}
		
		/* --- =Headings --- */
		h1, h2, h3, h4, h5, h6 {font-family: 'Archer Semibold', 'Clarendon Std', 'Century Old Style Std', 'Century Schoolbook', Georgia, serif; margin: 1em 0 0.5em 0;}
		h1 {font-size: 3em; margin: 0 0 0.5em 0;}
		h2 {font-size: 2em;}
		h3 {font-size: 1.8em;}
		h4 {font-size: 1.5em;}
		h5 {font-size: 1.3em;}
		h6 {font-size: 1.1em;}

		
		/* --- =Body Text --- */
		.column p,
		.column li,
		.column ol,
		.column ul {margin: 0 0 0.5em;}
		.column p {font-size: 1.07em; line-height: 1.5;}
		.column ul {}
			.column ul li {font-size: 1.07em; list-style-position: inside; list-style-type: disc;}
		.column ol {}
			.column ol li {font-size: 1.07em; list-style-position: inside; list-style-type: decimal;}
			
		.amp {background: #0e0e0e; color: #666; font: italic 100 1.25em Baskerville, "Goudy Old Style", "Palatino", Georgia, "Book Antiqua", serif; position: relative; top: 2px;}
		

		/* --- =Dates, Times etc --- */
		.date {font: 1em/1.6 Georgia, serif;}


/* - =Structure - */
html,
body {height: 100%;}

body {background: #fff; color: #0e0e0e; font: 62.5%/1.3 Georgia, "Times New Roman", Times, serif; margin: 0; padding: 0;}

#wrapper {min-height: 100%; overflow: hidden;}

  #header {background: #0e0e0e; border-bottom: 1px solid #666; color: #fff; overflow: auto; padding: 0.2em 1em 0.5em 1em;}
    #header h1,
    #header p.site-title {background: #0e0e0e; color: #ff8000; float: left; font-size: 3em; font-weight: 700; letter-spacing: 0.06em; margin: 0; width: auto;}
    #header p.site-title a:link,
    #header p.site-title a:visited {background: #0e0e0e; color: #ff8000; text-decoration: none;}
    #header p.site-title a:hover,
    #header p.site-title a:active,
    #header p.site-title a:focus {background: #0e0e0e; color: #ff8000; text-decoration: underline;}
    
    #header #status {font-size: 1.8em; margin: 0 0 0.2em 10em; padding: 0.65em 0 0 0;}
      #status p {}
      #status a:link {background: #0e0e0e; color: #0066B3;}
      #status a:visited {background: #0e0e0e; color: #ccc;}
      #status a:hover, 
      #status a:active, 
      #status a:focus {background: #0e0e0e; color: #ff8000;}
      
      #status #status-link {margin: 0 0 0 0.8em; position: relative; top: 0.14em; visibility: hidden;}
      #status:hover #status-link {visibility: visible;}

  #nav {background: #222; border-bottom: 2px solid #666; color: #fff; overflow: auto;}
    #nav ul {border: 2px solid #444; border-bottom: none; border-top: none; float: left; margin: 0 0 0 1em; width: auto;}
      #nav ul li {float: left; width: auto;}
        #nav ul li a,
        #nav ul li span {border: 2px solid #444; border-bottom: none; border-top: none; display: block; font-size: 1.4em; font-weight: 700; padding: 0.5em 1.2em;}
        #nav ul li span {background: #222; color: #fff;}
        #nav ul li a:link,
        #nav ul li a:visited {background: #111; color: #fff; text-decoration: none;}
        #nav ul li a:hover,
        #nav ul li a:active,
        #nav ul li a:focus {border-color: #ff9900; background: #ff8000; color: #111;}
  
  #page {border-top: 1em solid #BFE4FF; font-size: 1.5em; padding: 0 1em 0 0; position: relative;}
  
    /* -- =Columns -- */    
    .column {border-left: 1em solid #bfe4ff; float: left; margin: 0 0 -80em 16em; min-height:  100%; padding: 1em 0 90em 1em; position: relative; width: 36em;}
      .home .column {margin: 0 0 -80em 1em; width: 19em;}
      .item {margin: 0 0 1em 0;}
    
      .featured,
      #post-comment {background: #bfe4ff; border-left: 1em solid #80c9ff; margin: 0 0 1em -2em; padding: 0 0 1em 1em;}
    
        #page .item ul li {list-style-type: none;}
      
        p.category {color: #555; float: left; font-size: 3em; left: 0; position: absolute; text-align: right; text-transform: capitalize; top: 0.4em; width: 5em;}
     
     
  /* -- =Posts -- */ 
    .post-title {}
      .post-title h1 {margin: 0;}
      .post-title p {margin:  0 0 1em 0; overflow: auto;}
        .post-title p strong {margin: 0 1em 0 0;}
        .post-title p a {background: #fff; color: #666; text-decoration: none;}
    
       #imgtest {background: #fff; border:1em solid #bfe4ff; margin: 2em 0 2em -17em; padding: 1em; overflow: auto;}
          #imgtest img {}
          #imgtest p {color: #555; font-size: 0.8em; float: right; margin: 0; width: auto;}
        
      
      #comments {border-top: 1em solid #bfe4ff; margin: 3em 0 1em -2em; padding: 0 0 1em 2em;}
          #comments p.blurb {font-size: 1.5em; margin: 0 0 1em 0;}
          #comments .comment {margin: 0 0 2em 0; min-height: 96px; position: relative;}
              .comment .vcard {position: relative;}
                  .comment .vcard img.photo {border: 2px solid #bfe4ff; left: -145px; position: absolute; top: 0;}
                  #comments .lachstock .photo {border-color: #ff8000;}
                  .comment .vcard .fn {background: #fff; color: #000; display: block; font-size: 2em; line-height: 1;}
                    .comment .vcard a.fn:link,
                    .comment .vcard a.fn:visited {background: #fff; color: #0e0e0e; text-decoration: none;}
                    .comment .vcard a.fn:hover,
                    .comment .vcard a.fn:active,
                    .comment .vcard a.fn:focus {background: #fff; color: #ff8000;}
            
              .comment .comment-details {background: #fff; color: #555; font-size: 0.8em; margin: 0.4em 0 0.4em 0.1em;}
        
          #post-comment {margin: 3em 0 1em -2em; padding: 0 1em 1em 1em;}
     

  .home .vcard a.fn,
  .home .vcard a.fn:link,
  .home .vcard a.fn:visited,
  .home .vcard a.fn:hover,
  .home .vcard a.fn:active,
  .home .vcard a.fn:focus {background: #fff; color: #0e0e0e; text-decoration: none;}
  
  #blog {border-width: 0.5em; font-size: 2em; margin: 0 0 0 -1em; padding: 0 0 0 0.5em;}
  
  #github {width: 24em;}
    #github dl {}
      #github dt {font-weight: 700; margin: 0 0 0.5em 0;}
        #github dt strong {display: block;}
          #github dt a {}
        #github dt span.date {font-size: 0.8em; font-style: italic;}
      #github dd {margin: 0 0 0 1em;}
        #github dd.repo {}
          #github dd.repo a {}
        #github dd.filenames {background: transparent; color: #666;}
          #github dd.filenames ul {padding: 0 0 0 1.4em;}
            #github dd.filenames li {list-style-type: disc; margin: 0;}
        #github dd.date {}
        
  #flickr-pic {}
    #flickr-pic img {background: #fff; padding: 20px 20px 30px 20px; border: 1px solid #d3dada; margin: 1em;}
        
    #tagspace {}
      #tagspace h1 {}
      #tagspace ul {}
        #tagspace li {float: left; list-style-type: none; margin: 0 1em 1em 0; width: auto;}
        
    #tags {background: #fff; color: #555; left: 5em; position: absolute; top: 5em; width: 10em;}
      #tags h1 {}
      #tags ul {}
        #tags li {}
        
        
  /* -- =Footer -- */
  #footer {background: #0e0e0e; border-top: 1em solid #BFE4FF; clear: both; color: #fff; font-size: 1.5em; margin: -4.4em 0 0 0; position: relative; bottom: 0; text-align: center; width: 100%;}
    #footer p {border-top: 2px solid #666; padding: 1em;}
      #footer a:link {color: #0066B3;}
      #footer a:visited {color: #fff;}
      #footer a:hover, a:active, a:focus {color: #FF8000;}

/* - =JS enabled - */

html.js {}
