.item_meta
.item_tags
  Tags:
  %a{ :href => "http://log.lachstock.com.au/past/tags/OSX", :title => "View posts tagged with &quot;OSX&quot;" }
    OSX
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/Tantek", :title => "View posts tagged with &quot;Tantek&quot;" }
    Tantek
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/Twitter", :title => "View posts tagged with &quot;Twitter&quot;" }
    Twitter
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/Twitterrific", :title => "View posts tagged with &quot;Twitterrific&quot;" }
    Twitterrific
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/bash", :title => "View posts tagged with &quot;bash&quot;" }
    bash
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/custom", :title => "View posts tagged with &quot;custom&quot;" }
    custom
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/filter", :title => "View posts tagged with &quot;filter&quot;" }
    filter
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/regularexpressions", :title => "View posts tagged with &quot;regularexpressions&quot;" }
    regularexpressions
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/troll", :title => "View posts tagged with &quot;troll&quot;" }
    troll
.item_hierarchy
  Hierarchy:
  %a{ :href => "http://log.lachstock.com.au/past/2008/7/27/action-reaction/", :title => "Previous post" }
    previous
  ,
  %a{ :href => "http://log.lachstock.com.au/past/2008/8/18/internet-gurus/", :title => "Next post" }
    next
