- @title = "X-UA-Compatible: Moving past thoughts of the children"
- @published_date = "20080123 at 2053"

%h2 Fight the Power!
%p
  Standardistas the world over are burning their bras and thinking of the children. Folks are raising hell over
  %a{ :href => "http://blogs.msdn.com/ie/archive/2008/01/21/compatibility-and-ie8.aspx" } a single line of HTML
  and I can see why. Becoming a standardista gave me my passion for the web and led into an entirely new world that has offered me more opportunities for every aspect of my life. So I get it. I know why folks are upset. There’s a little part of my brain that wants to scream: “It’s just
  %strong wrong
  \!”
%p
  But it’s only a small part, and the rest of it is thinking: no matter what you think of that single line of code, it’s coming. It will be implemented. Chris Wilson’s post linked above, in combination with
  %cite.vcard
    %abbr.fn{ :title => "Aaron Gustafson" }
      %a.url{ :href => "http://www.easy-reader.net/", :rel => "friend met colleague" } Aaron’s
  excellent article outlining some of
  %a{ :href => "http://www.alistapart.com/articles/beyonddoctype" } the reasoning behind X-UA-Compatible
  and
  %cite.vcard
    %abbr.fn{ :title => "Eric Meyer" }
      %a.url{ :href => "http://www.easy-reader.net/", :rel => "met colleague" }  Eric’s
  considered piece on
  %a{ :href => "http://www.alistapart.com/articles/fromswitchestotargets" } his changing perceptions of the switch
  , aren’t exactly media releases but do represent a considerable amount of forethought and planning. They represent a decision.

%h2 Know Your Enemies
%p
  Microsoft doesn’t tell you it’s going to do something of this scale unless it means it. So, regardless of where you come down on the pavement of good intentions, I want to talk about what X-UA-Compatible
  %em means
  to developers, businesses, users and clients. If you want flame wars, there are plenty of other folks packing ‘throwers in the comments of any of those posts (and countless others). Let’s leave thoughts of poor broken pages aside and keep this to asking interesting questions

%h2
  What’s a battle?
%p Questions like:
%ol
  %li What does the capability to lock your site to a single version of IE mean for your development cycle?
  %li What do the IE7 users checking out my shiny locked-to IE8 site see?
  %li How does this affect my business decisions?
  %li How does this affect my boss/client/manager’s business decisions?
  %li Does this encourage innovation or stifle it?
  %li Will this practically mean less time debugging IE?
  %li What place has X-UA-Compatible in best practice methodologies?
  %li What is the significance that each of the men linked to in this post have gingery facial hair?*

%h2 Talk to me, Goose
%p I have a few answers to some of these questions, but not all and this isn’t a lecture. It’s a discussion. What are your answers? Even more importantly, what are your questions?
%p
  %small
    * I have
    %a{ :href => "http://www.flickr.com/photos/amentele/1497137453/" } photos
    to
    %a{ :href => "http://www.flickr.com/photos/cwilso/2124375608/" } prove
    this
    %a{ :href => "http://www.flickr.com/photos/amentele/1486994488/" } allegation
    somewhere…
