.item_meta
.item_tags
  Tags:
  %a{ :href => "http://log.lachstock.com.au/past/tags/AaronGustafson", :title => "View posts tagged with &quot;AaronGustafson&quot;" }
    AaronGustafson
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/ChrisWilson", :title => "View posts tagged with &quot;ChrisWilson&quot;" }
    ChrisWilson
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/EricMeyer", :title => "View posts tagged with &quot;EricMeyer&quot;" }
    EricMeyer
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/IE7", :title => "View posts tagged with &quot;IE7&quot;" }
    IE7
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/IE8", :title => "View posts tagged with &quot;IE8&quot;" }
    IE8
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/XUACompatible", :title => "View posts tagged with &quot;XUACompatible&quot;" }
    XUACompatible
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/questions", :title => "View posts tagged with &quot;questions&quot;" }
    questions
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/thinkofthechildren", :title => "View posts tagged with &quot;thinkofthechildren&quot;" }
    thinkofthechildren
.item_hierarchy
  Hierarchy:
  %a{ :href => "http://log.lachstock.com.au/past/2007/12/20/nonscary-way-of-learning-openid/", :title => "Previous post" }
    previous
  ,
  %a{ :href => "http://log.lachstock.com.au/past/2008/3/18/74-twitter-adds-breakdown/", :title => "Next post" }
    next
