- @title = "Share the love"
- @published = "20070516 at 2002"

%p I don’t know about the rest of you, but I spend ridiculously large portions of my life online. Not just on a computer, but actually online. In fact, these days I doubt I’d know what to do with myself at a keyboard for more than 5 minutes if I didn’t have the internet.
%p Given that I’m a webby geek of giant proportions, I think that’s reasonable. I even think it’s a good thing. But there is something missing from all that time. Something seemingly so inconsequential that it took me a long time to work out what it was. It wasn’t until I started to feel it again that I realised its absence.

%h2 What you talkin’ about, Willis?
%p Call it politeness. Call it manners. It’s social grease and it makes everything run smoother and makes everybody happier. I’m talking about saying thank you. I’m talking about feeling that somebody else appreciates your effort. That your contribution has been noted and valued.
%p These are important features of society - acknowledgment, an indication of appreciation. These things matter. A lot.

%h3 Getting your groove back
%p Social software works because it replicates society in some fashion, right? It offers online, from the comfort of your own home/office/car/zeppelin, what you can otherwise only get by gathering<i>en masse</i>. And, in some ways, it’s better than that too, because it allows you to interact socially with people you would never otherwise meet.

%h2 Offering appreciation in social apps
%p
  It’s so easy to add this.
  %strong This is not a technical issue!
  It’s one of priorities, focus and intent. Most applications don’t have any development time focused specifically on being nice to people, but doesn’t that sound like a great way to build your community?

%h3 Flickr
%p
  %a{ :href => "http://flickr.com/" } Flickr
  has testimonials. I quite like those. Mine exist for my friends and loved ones to make fun of me, but you only have to look at
  %a{ :href => "http://www.flickr.com/people/dreadfuldan/" } Daniel Boud’s profile
  to see how they were intended to be used.

%h3 Ma.gnolia
%p
  %a{ :href => "http://ma.gnolia.com/" } Ma.gnolia
  makes no bones about it - they literally have a ‘thanks’ option. You can thank anybody for a bookmark. It’s prominent, it’s easy, it makes people feel good and I love it. It requires no input or effort other than a click.
  %a{ :href => "http://www.toddsieling.com/" } Todd Sieling
  posted an explanation of their reasoning when
  %a{ :href => "http://ma.gnolia.com/blog/2007/02/15/just-like-its-our-birthday" } announcing the feature
  \.

%h2 Take the time
%p We spend a lot of time on the web. We’re building software that makes people spend even more time on the web. Let’s make it a nicer place to be. Add some social grease to your next app and make your users feel appreciated.
