.item_meta
.item_tags
  Tags:
  %a{ :href => "http://log.lachstock.com.au/past/tags/appreciation", :title => "View posts tagged with &quot;appreciation&quot;" }
    appreciation
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/manners", :title => "View posts tagged with &quot;manners&quot;" }
    manners
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/philosophy", :title => "View posts tagged with &quot;philosophy&quot;" }
    philosophy
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/politeness", :title => "View posts tagged with &quot;politeness&quot;" }
    politeness
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/socialnetworkingapps", :title => "View posts tagged with &quot;socialnetworkingapps&quot;" }
    socialnetworkingapps
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/socialsoftware", :title => "View posts tagged with &quot;socialsoftware&quot;" }
    socialsoftware
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/thanks", :title => "View posts tagged with &quot;thanks&quot;" }
    thanks
.item_hierarchy
  Hierarchy:
  %a{ :href => "http://log.lachstock.com.au/past/2007/4/3/bitter_twitches/", :title => "Previous post" }
    previous
  ,
  %a{ :href => "http://log.lachstock.com.au/past/2007/5/20/make-the-leap/", :title => "Next post" }
    next
