- @title = "Feeds Index"

%section.pure-u-4-5

  %p Lachstock has two feeds you can subscribe to.
  
  %h2 Articles
  %p Infrequent posts on life, the universe and everything.
  %p
    %a{:href => "/articles/feed/"} /articles/feed/
    
  %h2 Code
  %p Occasional posts on how I did something. Sometimes it even includes why.
  %p
    %a{:href => "/code/feed/"} /code/feed/

