- @title = "Feeds Index"

.index
  %h1 Index
  
  %p Lachstock has a few feeds you can subscribe to.
  
  %h2 Articles
  %p Infrequent posts on life, the universe and everything.
  %p
    %a{:href => "/articles/feed/"} /articles/feed/
    
  %h2 Code
  %p Occasional posts on how I did something. Sometimes it might even include why.
  %p
    %a{:href => "/code/feed/"} /code/feed/

