- @title = "Test Article"
- @published_date = "20070328 at 0025"

%p This has been a long time coming. I’ve always followed the conversation. I read every site. I scoured the web for content as an increasingly voracious consumer. I stuffed more and more of everything into my brain and I couldn’t get enough.
%p Then I got the agency job. One that had me slaving 14-18 hours most days to produce slick high-quality standards-compliant accessible websites, usually for government departments. I never installed a feed reader on my new machine. I never had time.