.item_details
  %h1 Test Article
  %p
    %strong
      Posted by
      %a{:href => "http://log.lachstock.com.au/past/authors/2", :title => "View all posts by lachlanhardy" }
        lachlanhardy
      on
      %a{ :href => "http://log.lachstock.com.au/past/2007/3/28/joining_the_conversation/", :title => "Permalink for this post" }
        20070328 at 0025
.item_content
      
  %p This has been a long time coming. I’ve always followed the conversation. I read every site. I scoured the web for content as an increasingly voracious consumer. I stuffed more and more of everything into my brain and I couldn’t get enough.
  %p Then I got the agency job. One that had me slaving 14-18 hours most days to produce slick high-quality standards-compliant accessible websites, usually for government departments. I never installed a feed reader on my new machine. I never had time.
  
.item_meta
  .item_tags
    Tags:
    %a{ :href => "http://log.lachstock.com.au/past/tags/AndrewKrespanis", :title => "View posts tagged with &quot;AndrewKrespanis&quot;" }
      AndrewKrespanis
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/Flickr", :title => "View posts tagged with &quot;Flickr&quot;" }
      Flickr
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/LachStock", :title => "View posts tagged with &quot;LachStock&quot;" }
      LachStock
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/MollyHolzschlag", :title => "View posts tagged with &quot;MollyHolzschlag&quot;" }
      MollyHolzschlag
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/Twitter", :title => "View posts tagged with &quot;Twitter&quot;" }
      Twitter
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/conversation", :title => "View posts tagged with &quot;conversation&quot;" }
      conversation
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/firstpost", :title => "View posts tagged with &quot;firstpost&quot;" }
      firstpost
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/joiningtheconversation", :title => "View posts tagged with &quot;joiningtheconversation&quot;" }
      joiningtheconversation
  .item_hierarchy
    Hierarchy:
    %a{ :href => "http://log.lachstock.com.au/past/2007/4/3/bitter_twitches/", :title => "Next post" }
      next
