- @title = "Bitter Twitches"
- @published = "20070403 at 2143"

%p
  %a{ :href => "http://twitter.com/" } Twitter
  is a strange beast. Adored and loathed in probably equal parts, the debate of Twitter&rsquo;s usefulness will continue unabated. Just as the debate about MySpace&rsquo;s attractiveness or the virtue of OSX over Windows, it seems destined to become one of the tech world&rsquo;s &lsquo;holy wars&rsquo;.
%p It is once you make the decision to have a Twitter account, though, that the real issues begin. Public or private? Friend or follower? Site name, real name or a fresh pseudonym? And how much is too much?
%p For some people, these decisions are easy. But others have circumstances complicated by personality, friendships, exposure, gender, and employment. These issues have been confronted by the users of all new personal publishing platforms.  Twitter is no different, but its immediacy brings new scope to concerns about privacy.
%h2 What do you use Twitter for and how does your concept of its use conflict with others?
%p Some people use it for keeping up with real-life friends and some use it for keeping up with interesting ideas. Some people use it for networking. These are all really the one use: a simple low cost-of-entry method for learning about somebody you&rsquo;re interested in. It&rsquo;s the end points that differ.
%p 
  What do others do with all that information I publish everyday? They read it, skim it, skip it. Sometimes they respond in public, via Twitter or a blog post. Sometimes privately, by email, direct tweet or
  %abbr{ :title => "Instant Messaging" }
    IM
  \. My Twitter &lsquo;friends&rsquo; aren&rsquo;t the only ones with that information - Google and Technorati index it and anybody can find it.
%h2 And once it&rsquo;s on Google…
%p It becomes permanent. That information is never going away. It will be forever available in various caches and search engines for the lifespan of the internet as we know it. No wonder some people feel uncomfortable. Caught-in-the-moment tweets may be regretted later. Twitter will let you delete them, but Google won&rsquo;t.
%p
  Many of my friends keep their Twitters private, restricted only to those
  %strong
    they
  select as friends. This banishes the spectre of permanence, but creates fresh social dilemmas. Technology offers no solutions for how to let someone know that you don&rsquo;t want them to see your tweets.

%h2 Going back to high school
%p
  This is both exclusive
  %em
    and
  excluding. It leads to bruised feelings and hurt comments, creating pain on both sides. Reminds me of adolescence&#133;
%p With good reason, because these hurt feelings exist as we, the users, have not evolved to match the technologies. And I don&rsquo;t mean that our sharks don&rsquo;t have frickin&rsquo; laser beams on their heads. We&rsquo;ve not yet equipped ourselves to cope with the social implications of using them. Twitter is just the latest in an ongoing line of disruptive technologies that are not only changing the way we view and use this thing we call &lsquo;the Web&rsquo;, but also changing the way we interact with each other.
%p We often refer to technologies as &lsquo;immature&rsquo; to show that we see further development; that it has not yet reached its fullest potential. It is not a term people use to describe themselves in relationship to a technology very often, but it fits with increasing frequency as what we build progresses further from how we think.

%h2 New technologies require consideration
%p
  Joining Twitter requires as much careful consideration as starting a blog or publishing photos on Flickr. Sure, you can just throw yourself out there and damn the consequences, but
  %strong
    there will be consequences
  \. Or you can carefully consider the possible benefits for you versus the potential downsides, weigh them up, then choose. I figure most of us fall somewhere in between.
%p 
  There will always be people who embrace everything full throttle. And there will be always be those who turn away and pretend it isn&rsquo;t happening. I don&rsquo;t think that web professionals can afford to be either. We need to have a sense of proportion; to balance the thrill of the new against the hard-won experience. So, dive in to Twitter, folks. Get with it. Learn about it. Feel the pain, the joy and the undeniable banality. Teach yourself all the tricks and pitfalls. I guarantee you&rsquo;ll find
  %em
    that
  useful, no matter what you ultimately decide about Twitter.
  
