.item_meta
  .item_tags
    Tags:
    %a{ :href => "http://log.lachstock.com.au/past/tags/Twitter", :title => "View posts tagged with &quot;Twitter&quot;" }
      Twitter
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/future", :title => "View posts tagged with &quot;future&quot;" }
      future
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/technology", :title => "View posts tagged with &quot;technology&quot;" }
      technology
  .item_hierarchy
    Hierarchy:
    %a{ :href => "http://log.lachstock.com.au/past/2007/3/28/joining_the_conversation/", :title => "Previous post" }
      previous
    ,
    %a{ :href => "http://log.lachstock.com.au/past/2007/5/16/share_the_love/", :title => "Next post" }
      next
