.item_meta
.item_tags
  Tags:
  %a{ :href => "http://log.lachstock.com.au/past/tags/DrNic", :title => "View posts tagged with &quot;DrNic&quot;" }
    DrNic
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/Git", :title => "View posts tagged with &quot;Git&quot;" }
    Git
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/Github", :title => "View posts tagged with &quot;Github&quot;" }
    Github
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/LachStock", :title => "View posts tagged with &quot;LachStock&quot;" }
    LachStock
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/Prettydate", :title => "View posts tagged with &quot;Prettydate&quot;" }
    Prettydate
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/Simplelog", :title => "View posts tagged with &quot;Simplelog&quot;" }
    Simplelog
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/jQuery", :title => "View posts tagged with &quot;jQuery&quot;" }
    jQuery
.item_hierarchy
  Hierarchy:
  %a{ :href => "http://log.lachstock.com.au/past/2008/10/19/gitjour-the-quickening/", :title => "Previous post" }
    previous
