- @title = "Ardent about Arduino"
- @published = "20080508 at 1400"

%p I’ve uncovered a deep dark secret individually guarded by many of the geeks in our local community. It’s only natural that children want to play, to explore, to experiment. Sometimes as adults, we want the same things. Especially if we can bring our adult skills to bear on our childhood joys. Brothers and sisters, don’t hide your love away. Physical computing is not a sin. Although it can be a delight. Let me explain.
%p
  This morning,
  %cite.vcard
    %a.url.fn.nickname{ :href => "http://drnicwilliams.com/", :rel => "friend met colleague" }
      Dr Nic
  started tweeting about his <a href="http://twitter.com/drnic/statuses/805911723">urge for a ‘carputer’</a> of some description. After he started posting links to tiny hardware bits, I <a href="http://twitter.com/lachlanhardy/statuses/805968062" rel="me">pointed him to the <a href="http://rad.rubyforge.org/">Ruby Arduino Development</a> project:
%blockquote{ :cite => "http://rad.rubyforge.org/" } RAD is a framework for programming the Arduino physcial computing platform using Ruby. RAD converts Ruby scripts written using a set of Rails-like conventions and helpers into C source code which can be compiled and run on the Arduino microcontroller. It also provides a set of Rake tasks for automating the compilation and upload process.

%h2 WTF is an ‘Arduino’
%p <a href="http://arduino.cc/">Arduino is an open-source physical computing platform</a>. You can buy them, build them, and modify them. You can hack on the code or the hardware designs and share your changes with the community.
%p I’ve not played with them, but after reading articles and mentions of them and other forms of physical computing (such as <a href="http://www.sunspotworld.com/">Sunspots</a>, <a href="http://www.phidgets.com/">Phidgets</a> and the like) for the last 12-18 months, I’m incredibly interested.
%p Not knowing a lot about it, I can’t tell you why Arduino has captured the imagination of the community than I see more than the other similar products, but all I hear is Arduino. And the story was same this morning. After <a href="http://twitter.com/lachlanhardy/statuses/805996998" rel="me">my next tweet</a> mentioned Arduino, the local fans came out of the woodwork in <a href="http://summize.com/search?q=&amp;ands=arduino&amp;phrase=&amp;ors=&amp;nots=&amp;tag=&amp;lang=all&amp;from=&amp;to=&amp;ref=&amp;since=2008-05-08&amp;until=2008-05-08&amp;rpp=15">a flurry of tweets</a>.
%p It turns out that heaps of folks I know, particularly in the <a href="http://rubyonrails.com.au/">local Ruby community</a> have already paid, played and procrastinated with their Arduino bits and pieces - but everyone wants to do more.

%h2 Do you need an excuse to play?
%p Firstly, if you’re interested in Ruby, Rails, Merb and the like, then it looks like peeps will now be bringing their Arduino gear along to <a href="http://railscamp08.org/">Railscamp</a> in June. I’ve added an Arduino section to the <a href="http://wiki.railscamp08.org/railscamp/show/Equipment">Equipment</a> page so that you can list what you’ve got and we can collaboratively ensure we can make the most of it!
%p For the world outside the rosy bubble, the Australian importers of Arduino gear, <a href="http://www.littlebirdelectronics.com/">Little Bird Electronics</a>, are holding their <a href="http://www.littlebirdelectronics.com/collections/frontpage/products/arduino-workshop-ticket">first Australian Arduino workshop</a> at UTS on the 31st of May.
%p <strong>Update!</strong>Little Bird Electronics <a href="http://log.lachstock.com.au/past/2008/5/8/ardent-about-arduino/#c158">are now offering</a> a $20 discount to folks using the code ‘LACHSTOCK’ when buying workshop tickets. Thanks, Little Bird!
%p So if you’ve got a little electronic skeleton in your geek closet, unpack it and come play. It looks like you’ll be in some fantastic company!
