  
.item_meta
  .item_tags
    Tags:
    %a{ :href => "http://log.lachstock.com.au/past/tags/Arduino", :title => "View posts tagged with &quot;Arduino&quot;" }
      Arduino
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/DrNic", :title => "View posts tagged with &quot;DrNic&quot;" }
      DrNic
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/LittleBirdElectronics", :title => "View posts tagged with &quot;LittleBirdElectronics&quot;" }
      LittleBirdElectronics
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/Phidgets", :title => "View posts tagged with &quot;Phidgets&quot;" }
      Phidgets
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/Ruby", :title => "View posts tagged with &quot;Ruby&quot;" }
      Ruby
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/Sunspots", :title => "View posts tagged with &quot;Sunspots&quot;" }
      Sunspots
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/Sydney", :title => "View posts tagged with &quot;Sydney&quot;" }
      Sydney
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/community", :title => "View posts tagged with &quot;community&quot;" }
      community
  .item_hierarchy
    Hierarchy:
    %a{ :href => "http://log.lachstock.com.au/past/2008/4/1/phishing-fools/", :title => "Previous post" }
      previous
    ,
    %a{ :href => "http://log.lachstock.com.au/past/2008/5/24/remix-australia-rocked/", :title => "Next post" }
      next
