.item_details
  %h1 Action > Reaction
  %p
    %strong
      Posted by
      %a{ :href => "http://log.lachstock.com.au/past/authors/2", :title => "View all posts by lachlanhardy" } lachlanhardy
      on
      %a{ :href => "http://log.lachstock.com.au/past/2008/7/27/action-reaction/", :title => "Permalink for this post" } 20080727 at 1621
.item_content
  %p Over the last few months, people have begun asking me: “How do you do so much? How do you keep up with it all?”
  %p Now, I don’t think I do as much as some of you think I do. I don’t feel like I’ve achieved anywhere near the things I should have lately, so I began thinking about those questions.
  %p I do a lot of thinking. I like it. It’s one of my favourite things and I like to think that I’m good at it.
  %p But where do thoughts come from?
  %p Don’t worry, this isn’t going to be a blathering of random metaphysical esoterica. What I mean is: ‘Why do <strong>I</strong> have <em>these</em> thoughts?
  
  %h2 On thoughts
  %p The answer is that thoughts stem from various external stimuli. From the conversations I have with the smart and talented people I’m honoured to call my friends and colleagues; from the blogs I read (also written by smart and talented folks, as far as I can tell); from the emails I receive: personal, business and mailing lists. From all these places and more, my thoughts spring. They tumble together in little parcels of disjointed meaning, scattered threads of random thought that bounce against each other constantly and gradually weave into cogency or are discarded.

  %h2 On distractions
  %p I’ve written before that I don’t enjoy the quiet stillness inside my mind, but that’s untrue. I have plenty of other reasons to dislike being alone with my thoughts, which are neither quiet nor still.
  %p I don’t own a portable music-player of any description, because I tell myself that would be a distraction, that my brain needs a rest from incessant stimulation. The result is, of course, that I check Twitter from my N95 approximately forty times on my forty-five minute trip to work.
  %p It’s odd that music, which aids me in so many facets of my life, can distract me so thoroughly from the rush and scurry in my brain. Or perhaps that is precisely the point. Music abstracts me from the current flow, insulates me, and allows me to achieve particular tasks with a stronger focus than if it were absent. Without those tasks, it just distracts me.
  
  %h2 On escapism
  %p None of this is likely to come as a surprise to you. We all need to get away, to take a time out, a little pause to regain our breath and our focus. Therein lies the problem for me.
  %p 
    Why do I need to watch yet another episode of the West Wing today? Or check my email, my feeds, Twitter, Flickr, again? Why do I need to take a book on <a href="http://oreilly.com/catalog/9780596529260/">RESTful Web Services</a> to bed at night? For that matter, why do I stay up beyond all sensible hours until I’m so exhausted that my right eye starts literally twitching? Even now I’m listening to <a href="http://en.wikipedia.org/wiki/Ten_(Pearl_Jam_album)">Ten</a> (only the best album ever) and pausing periodically in my progress with this article to lose myself in the songs.
  %p Where is the focus in that?

  %h2 In which our intrepid hero takes action
  %p The problem here does not lie with things like checking my email or my feeds. It doesn’t come from the external stimuli. It comes from when they are applied.
  %p What’s the first thing you do every morning? Me, I open 4 tabs in my browser: <a href="http://gmail.com/">Gmail</a>, <a href="http://reader.google.com/">Google Reader</a>, <a href="http://twitter.com/replies/">Twitter replies</a>, and <a href="http://flickr.com/recent_activity.gne?days=2">Flickr recent activity</a>. While I wait for those to load, I switch to Mail to confirm I haven’t received any work-related email overnight.
  %p Next, I “process” all the information on those pages and that sets me up for a good long day of <strong>reacting</strong>.

  %h3 Fuck reacting. Act!
  %p Over lunch one day, one of the founders of <a href="http://atlassian.com/">Atlassian</a>, Scott Farquhar, said that he had recently been trialling not opening his email until midday each day. I tried it. I think I lasted about three days.
  %p Now I’m going to do it again. And the same goes for my feeds, Flickr et al.
  
  %h3 But wait, there’s more!
  %p I’m also unsubscribing from all those feeds that I’m only following because I feel I should ‘keep in the loop’, and from all the mailing lists whose communities I don’t actively participate in.
  %p I already vigorously prune my feeds and my contacts on social networking sites I use regularly.

  %h2 A challenge
  %p I have a challenge for you. It’s also for myself. Let’s see if we can’t do it together.
  %p I have cut all these distractions from my life. I will cut more. I will carve away every input that does not lead to action. I will push the reactive part of my day back until after lunchtime.
  %p I’m going to start putting my thoughts to work. All those bundles of meaning have been assembled into functional parts that need structure. They need a coherent whole and I can only provide it by taking action.
  %p I’d like to see you do it too. Maybe some of you were already on the ball with this one, but I think we probably all need a little push and a lot of pruning on occasion.
  %p Get to it. Drop the distractions. Take actions instead.
  %p I want people to ask you: “how do <em>you</em> do so much?”
 