 
.item_meta
  .item_tags
    Tags:
    %a{ :href => "http://log.lachstock.com.au/past/tags/Atlassian", :title => "View posts tagged with &quot;Atlassian&quot;" }
      Atlassian
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/ScottFarquhar", :title => "View posts tagged with &quot;ScottFarquhar&quot;" }
      ScottFarquhar
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/community", :title => "View posts tagged with &quot;community&quot;" }
      community
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/conversation", :title => "View posts tagged with &quot;conversation&quot;" }
      conversation
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/philosophy", :title => "View posts tagged with &quot;philosophy&quot;" }
      philosophy
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/questions", :title => "View posts tagged with &quot;questions&quot;" }
      questions
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/ranting", :title => "View posts tagged with &quot;ranting&quot;" }
      ranting
  .item_hierarchy
    Hierarchy:
    %a{ :href => "http://log.lachstock.com.au/past/2008/5/24/remix-australia-rocked/", :title => "Previous post" }
      previous
    ,
    %a{ :href => "http://log.lachstock.com.au/past/2008/8/3/twitterrific-troll-filter/", :title => "Next post" }
      next
