- @title = "Lachlan Hardy"
- @layout = "layout-abb"

%section#twitter
  %article
    #status
      %p thinks less is the new more.
    %a#twitter-avatar{:href => "http://twitter.com/lachlanhardy/"}
      %img{:alt => "Your host: Lachlan Hardy", :height => "96", :src => "http://s3.amazonaws.com/twitter_production/profile_images/53728289/avatar-512x512.jpg", :width => "96"}

%section
  %h1= @title

  %article
    %p I like to say I&rsquo;ve hung out my own shingle except that I don&rsquo;t actually have a shingle to point to right now. Cobbler&rsquo;s shoes and all that.

    %p I&rsquo;m currently working with Telstra Media, delivering IPTV services on television sets and the like. It&rsquo;s hard, it&rsquo;s interesting and it feels much like mobile development did a few years ago &mdash; but with modern technologies!

    %p I was a Design Engineer at <a href="http://atlassian.com/">Atlassian</a>, where I led development of the <a href="http://confluence.atlassian.com/display/AUI/Atlassian+User+Interface+%28AUI%29+Documentation">Atlassian UI library</a> and built and designed the front end and interactions of <a href="http://atlassian.com/opensocial">Atlassian's OpenSocial dashboard implementation</a> and the OAuth plugins.

    %p I&rsquo;m a web standardista from way back (I ran the <a href="http://webstandardsgroup.org">Web Standards Group</a> meetings in Melbourne from 2004-2006) and gave presentations at <a href="http://south09.webdirections.org/program/business#the-open-web">Web Directions South</a>, <a href="http://www.edgeoftheweb.org.au/speakers/lachlan-hardy/">Edge of the Web</a>, <a href="http://www.microsoft.com/australia/remix/default.aspx">REMIX10</a> and New Zealand&rsquo;s <a href="http://www.webstock.org.nz/10/">Webstock</a> conference on the topic of <a href="http://www.slideshare.net/lachlanhardy/the-open-web">The Open Web</a>.

    %p I also gave a presentation at this year&rsquo;s <a href="http://www.webdu.com.au/">WebDU</a> on <a href="http://www.slideshare.net/lachlanhardy/improve-your-development-process-with-git">improving your development process with Git</a>.

    %p I help <a href="http://twitter.com/twalve">Craig Sharkie</a> and <a href="http://linz.id.au/">Lindsay Evans</a> run the <a href="http://sydjs.com/">SydJS group</a> for Sydney&rsquo;s JavaScripters and I&rsquo;m a regular in the <a href="http://rubyonrails.com.au/">Australian Ruby scene</a> where I can be heard arguing the benefits of various open technologies and practices over a beer at pretty much every <a href="http://faces.rubyoceania.org/groups/sydney/">Sydney meeting</a> and <a href="http://railscamps.net/">Railscamp</a>.

    %p Oh, and I run an industry event called <a href="http://webjam.com.au">Webjam</a> to provide a platform for people to show off their innovations built on the web and web technologies.

    %p I&rsquo;m a passionate advocate of open web technologies but I try to temper that by actually knowing about those technologies &mdash; preferably from having used them.

    %p I&rsquo;m available for coffees, beers, and hearing about <strong>you</strong>.

  = partial :vcard

%section
  = partial :facets
  = partial :flickr_pic