- @title = "Lachlan Hardy"
- @layout = "layout-abb"

%section#twitter
  %article
    #status
      %p thinks less is the new more.
    %a{:href => "http://twitter.com/lachlanhardy"}
      %img{:src => "http://s3.amazonaws.com/twitter_production/profile_images/53728289/avatar-512x512.jpg", :height => "96", :alt => "Your host: Lachlan Hardy", :width => "96"}

%section
  %h1= @title

  %article
    %p I work as a Design Engineer on the Integration Team at <a href="http://atlassian.com/">Atlassian</a>. Most recently that has meant building and designing the front end and interactions of <a href="http://atlassian.com/opensocial">our OpenSocial dashboard implementation</a> and our OAuth plugins.

    %p I&rsquo;ve made minor contributions to the <a href="http://openid.net/">OpenID</a>, <a href="http://oauth.net/">OAuth</a>, and <a href="http://eaut.org/">EAUT</a> working groups and generally soaked up the discussion in other similar mail lists.

    %p I&rsquo;m a web standardista from way back (I ran the <a href="http://webstandardsgroup.org">Web Standards Group</a> meetings in Melbourne from 2004-2006) and recently gave a presentation to the Sydney chapter on <a href="http://www.slideshare.net/lachlanhardy/the-open-web">The Open Web</a>.

    %p And I&rsquo;ll be taking that topic on again at this year&rsquo;s <a href="http://south09.webdirections.org/program/business#the-open-web">Web Directions South</a> and <a href="http://www.edgeoftheweb.org.au/speakers/lachlan-hardy/">Edge of the Web</a> conferences. You should come along. They&rsquo;re two of the best web conferences in Australia!

    %p I&rsquo;m also a regular in the <a href="http://rubyonrails.com.au/">Australian Ruby scene</a> and can be heard arguing the benefits of various open technologies and practices over a beer at pretty much <a href="http://faces.rubyoceania.org/groups/sydney/">every Sydney meeting</a> and certainly every <a href="http://railscamps.net/">Railscamp</a>.

    %p Oh, and I run an industry event called <a href="http://webjam.com.au">Webjam</a> to provide a platform for people to show off their innovations built on the web and web technologies.

    %p Basically, I&rsquo;m a passionate loudmouth, but I try to temper that by actually knowing about the technologies I advocate &mdash; preferably from having implemented them.

    %p I&rsquo;m available for coffees, beers, and hearing about <strong>you</strong>.

  = partial :vcard

%section
  = partial :facets
  = partial :flickr_pic