- @title = "Lachlan Hardy"

%section.pure-u-3-5
  %h1= @title

  %article
    %p I work at Microsoft with the Windows 8 app ecosystem, amongst other things.

    %p I&rsquo;m a web standardista from way back (I ran the <a href="http://webstandardsgroup.org">Web Standards Group</a> meetings in Melbourne from 2004-2006) and gave presentations at <a href="http://south09.webdirections.org/program/business#the-open-web">Web Directions South</a>, <a href="http://www.edgeoftheweb.org.au/speakers/lachlan-hardy/">Edge of the Web</a>, <a href="http://www.microsoft.com/australia/remix/default.aspx">REMIX10</a> and New Zealand&rsquo;s <a href="http://www.webstock.org.nz/10/">Webstock</a> conference on the topic of <a href="http://www.slideshare.net/lachlanhardy/the-open-web">The Open Web</a>.

    %p I help <a href="http://twitter.com/twalve">Craig Sharkie</a> run the <a href="http://sydjs.com/">SydJS group</a> for Sydney&rsquo;s JavaScripters and I&rsquo;m a regular in the <a href="http://rubyonrails.com.au/">Australian Ruby scene</a> where I can be heard arguing the benefits of various open technologies and practices over a beer at pretty much every <a href="http://faces.rubyoceania.org/groups/sydney/">Sydney meeting</a> and <a href="http://railscamps.net/">Railscamp</a>.

    %p Oh, and I run an industry event called <a href="http://webjam.com.au">Webjam</a> to provide a platform for people to show off their innovations built on the web and web technologies.

    %p I&rsquo;m a passionate advocate of open web technologies but I try to temper that by actually knowing about those technologies &mdash; preferably from having used them.

    %p I&rsquo;m available for coffees, beers, and hearing about <strong>you</strong>.

%section.pure-u-2-5
  = partial :vcard
  = partial :facets
  = partial :flickr_pic