%p.category= "#{@category_title}:"

.column
  .item_details
    %h1 74 Twitter Adds: A Breakdown
    %p
      %strong
        Posted by
        %a{:href => "http://log.lachstock.com.au/past/authors/2", :title => "View all posts by lachlanhardy"}
          lachlanhardy
        on
        %a{:href => "/articles/74-twitter-adds-a-breakdown/", :title => "Permalink for this post"}
          20080318 at 1431
  .item_content
    %p
      I was recently incommunicado for roughly a month. I was traveling, and living life mostly offline but for occasional travel arrangements etc. This resulted in the kind of online buildup you hear about from such circumstances: a couple of dozen direct emails (gradually being responded to this week); several hundred mailing list emails (deleted); thousands of RSS items (all marked as read); 14,000 unread in Gmail’s spam folder and a relatively small selection of
      %a{:href => "http://en.wikipedia.org/wiki/Bacn_(electronic)"}
        bacn
      , including 74 adds from Twitter users. 74 in 4 weeks? WTF, Twitter?
    #imgtest
      %a{:href => "http://www.flickr.com/photos/lachlanhardy/2984397016/", :title => "Github Activity Badge by Lachlan Hardy, on Flickr"}
        %img{:src => "http://farm4.static.flickr.com/3207/2984397016_dc8b8426ca.jpg", :width => "750", :height => "156", :alt => "Github Activity Badge"}
      %p
        Skitchshot:
        %a{:href => "http://www.flickr.com/photos/lachlanhardy/2984397016/"} Lachlan Hardy
        
    %h2 Break it down
    %p I wanted to use this sample to give myself some idea of who these people are so, as I processed the requests, I started listing how many I blocked, how many were bots and how many I thought of as Real People? (possibly not the same thing as actual real people). And being the anal-retentive pedant I am, this lead to creation of more categories for those who didn’t fit the above three. In turn leading to some people meeting multiple categories and this loosely-premised article looking even less scientific - if that’s possible.
    %p Obviously, this is likely to reveal far more about how I use Twitter than any data about Twitter itself. I found it interesting. You’ve been warned.
    %h2 The numbers
    %h3 By major grouping
    %p I counted:
    %ul
      %li 41 Real People&trade;,
      %li 8 of those odd link-freaks,
      %li 16 purely promotional vehicles,
      %li 2 fake personalities, and
      %li 17 bots.
    %p I added 14 of these and blocked 26 - which included all 17 bots.
    %p Let’s work our way through in reverse order before we get into the Real People&trade;.
    %h4 Bots (17)
    %p
      You’ve all been added by them. In permanent use by spammers and unethical promoters, I block them immediately upon identification. I direly wish Twitter had a “Mark as a Spamming Sod” option like
      %a{:href => "http://pownce.com/"}
        Pownce
      does. It’s about time the application stopped treating every account as if it were a person. That’s blatantly no longer the case.
    %p That’s not to say that Twitter bots aren’t useful. They’re fantastic, actually. But only when they’re opt-in. The ones that come to find you are the type of loathsome evil that I associate with marketers who call your house or cheerfully knock on your door on a Saturday morning while normal people are still hungover.
    %h4 Fake personalities (2)
    %p Some I like, some I don’t. Most fade away within the kind of period that makes me not bother adding them. Especially since they’re unsolicited.
    %h4 Purely promotional vehicles (16)
    %p In this sample, they varied from sites and companies to bands or American political propagandists. They’re kind of like bots, I only find them valuable if I’ve sought them out for a purpose.
    %h4 Link-freaks (8)
    %p There is an obvious visual pattern created on a Twitter profile when somebody adds a link at the end of every single tweet. It’s readily detectable within milliseconds. Somehow it is even more obvious when there is the occasional comment or reply thrown in.
    %p These folks confuse me. They’re not bots. Most of them don’t seem to be using automated submission of links and yet they post more than 90% lame link action.
    %p
      Nobody knows that much interesting stuff. Nobody has that much original information at their fingertips. These folks are just re-posting stuff they find on aggregation sites. If I cared about the generic links that get posted repeatedly in every link graveyard on the net I’d subscribe to feeds from
      %a{:href => "http://digg.com/"}
        Digg
      ,
      %a{:href => "http://slashdot.org/"}
        SlashDot
      ,
      %a{:href => "http://techmeme.com/"}
        Techmeme
      or any one of 15,000 others. I don’t need it on Twitter.
    %h3 Quit grumping and talk about the Real People&trade;
    %p I broke down these folks even further based on what I thought were interesting differentiators:
    %ul
      %li 6 total newbies with virtually no posts but following 40-odd people;
      %li 13 people following 3,000+ people and seemingly attempting conversation with all of them;
      %li 2 people who used to follow me re-adding me (now that I was completely quiet?);
      %li 4 colleagues;
      %li 4 people who seem to use Twitter prolifically but don’t have a bio or a link off-site;
      %li
        7 people who had recently replied to
        %a{:href => "http://web-strategist.com/blog/"}
          Jeremiah Owyang
        ; and
      %li 21 self-identified Social Media Enthusiasts/Evangelists.
    %p What the fuck is a Social Media Enthusiast? I know what a social media enthusiast is. Some people would probably classify me as one. But as something that warrants title case? Is it a job title? Who pays people just to be enthusiastic about stuff?
    %p One answer to the last question would be: no one. Every single one of the SM Enthusiasts appeared to be a self-employed consultant. I would love some of those folks to let us in on how well that’s working out for them.
    %p Evangelists, on the other hand, is a familiar (if conflicted) term. The big consultancies all have Social Media consultants now. I can easily see them called ‘Evangelist’ to ride the wave of familiarity with that particular term in technology circles.
    %p Some folks even provided the slash themselves. They are both ‘Enthusiasts’ and ‘Evangelists’. Either that or they find themselves torn in that reputedly tricky limbo in between?
    %h2 So what?
    %p
      It’s a valid point. I don’t know that any of this means anything (except that
      %a{:href => "http://twitter.com/jowyang/"}
        @jowyang
      is an exceptionally popular Twitterer amongst a certain subset of users). I do find the numbers interesting in an abstract kind of way. They’re indicative of a broad range of Twitter uses that hopefully illustrates out the pointlessness of all those <a href="http://www.google.com/search?q=&ldquo;twitter+etiquette&rdquo;">Twitter Etiquette</a> posts that spring up every time some blogger cracks it with those he is following on Twitter. Pruning according to need vs satisfacton is the answer to that issue, not complaining that nobody does it the way you want them too.
    %p I’m curious to see if others break their requests down in similar fashion (even on a one-by-one basis) or if I’m a little too obsessive. What do you do?
    
  .item_meta
    .item_tags
      Tags:
      %a{:href => "http://log.lachstock.com.au/past/tags/RealPeople", :title => "View posts tagged with \"RealPeople\""}
        RealPeople
      ,
      %a{:href => "http://log.lachstock.com.au/past/tags/Twitter", :title => "View posts tagged with \"Twitter\""}
        Twitter
      ,
      %a{:href => "http://log.lachstock.com.au/past/tags/bacn", :title => "View posts tagged with \"bacn\""}
        bacn
      ,
      %a{:href => "http://log.lachstock.com.au/past/tags/bots", :title => "View posts tagged with \"bots\""}
        bots
      ,
      %a{:href => "http://log.lachstock.com.au/past/tags/ranting", :title => "View posts tagged with \"ranting\""}
        ranting
    .item_hierarchy
      Hierarchy:
      %a{:href => "http://log.lachstock.com.au/past/2008/1/23/X-UA-Compatible-past-thoughts-of-children/", :title => "Previous post"}
        previous
      ,
      %a{:href => "http://log.lachstock.com.au/past/2008/4/1/phishing-fools/", :title => "Next post"}
        next

  = comment_builder(@name)
