 
.item_meta
  .item_tags
    Tags:
    %a{:href => "http://log.lachstock.com.au/past/tags/RealPeople", :title => "View posts tagged with \"RealPeople\""}
      RealPeople
    ,
    %a{:href => "http://log.lachstock.com.au/past/tags/Twitter", :title => "View posts tagged with \"Twitter\""}
      Twitter
    ,
    %a{:href => "http://log.lachstock.com.au/past/tags/bacn", :title => "View posts tagged with \"bacn\""}
      bacn
    ,
    %a{:href => "http://log.lachstock.com.au/past/tags/bots", :title => "View posts tagged with \"bots\""}
      bots
    ,
    %a{:href => "http://log.lachstock.com.au/past/tags/ranting", :title => "View posts tagged with \"ranting\""}
      ranting
  .item_hierarchy
    Hierarchy:
    %a{:href => "http://log.lachstock.com.au/past/2008/1/23/X-UA-Compatible-past-thoughts-of-children/", :title => "Previous post"}
      previous
    ,
    %a{:href => "http://log.lachstock.com.au/past/2008/4/1/phishing-fools/", :title => "Next post"}
      next
