- @title = "Make The Leap"
- @published = "20070520 at 2223"

%p I often read about people risking all to achieve something monumental. People who gambled every speck of life, self and reputation on one last crack at some goal everybody else thought was impossible. Naturally, in such stories, the gamble pays off.
%p It has to. Otherwise, the protagonist is hardly likely to be as famous, are they?

%h2 I wonder about these people
%p I wonder what they are/were like. I wonder what they think, now that they’ve achieved the impossible. I wonder if they still strive. I think about what’s left for them. Most of all, I wonder what made them think they could do it.
%p I have a theory that they probably didn’t really think about it like that. Only in movies does the hero say: “everybody else thinks it’s impossible, but I know I can do it.” In real life, people just chip away at things and, sometimes, take a running leap and risk it. I wonder if those people just keep taking those leaps.

%h2 Taking a leap
%p 13 months ago, I quit my job. I emailed everybody I knew in Sydney and said, “Help! Find me a job, please”, and I quit. I had a mortgage, a sizeable car loan and a crazy passion for my girlfriend who lived too far away.
%p My boss tried to offer me work in the Sydney office, but we both knew that didn’t fit their plans for the business. So I was jumping without a net.
%p Don’t worry, I’m not going to suggest I’ve done anything monumental (on anything but a personal scale), but yesterday was the anniversary of my move to Sydney. One year and one day ago, we were heading north from Melbourne in a car crammed with everything that I hadn’t packed before the removalists got there.
%p That move was the best thing I have ever done for myself.

%h2 12 months of growth
%p Since that time, I’ve made so many great new friends in Sydney. I’ve met so many brilliant and talented people in our industry. With one of them, the outrageously multi-skilled <a href="http://phasetwo.org/">Anson Parker</a>, I started <a href="http://webjam.com.au/">Webjam</a>.
%p 
  Then there’s the friendly supportive and amazing community that finally settled on the name of <a href="http://rubyonrails.com.au/">Rails Oceania</a>. These guys and gals (yes, there are female Rails hackers in Sydney) have been an inspiration. Some I already knew, like
  %a{ :href => "http://toolmantim.com/" }
    Tim Lucas
  and
  %a{ :href => "http://linz.id.au/" }
    Lindsay Evans
  \. Others, like
  %a{ :href => "http://codespike.com" }
    Jason Crane
  ,
  %a{ :href => "http://lachie.info/" }
    Lachie Cox
  ,
  %a{ :href => "http://whatsnextapp.com/" }
    Max Muermann
  and
  %a{ :href => "http://teamaskins.net" }
    Ben Askins
  have been an absolute revelation to meet. All have taught me so much.
%p
  I’m lucky enough to work in the best creative team in Australian media at <a href="http://newsdigitalmedia.com.au/">News Digital Media</a>. If you doubt me, just watch what we pull out in the next few months.
%p
  Let’s not forget <a href="http://webstandardsgroup.org">Web Standards Group</a>, who’ve been a staple of my professional life since my first meeting in June 2004. Wow, that feels like a long time ago! Or the local startup scene, as ably led by the <a href="http://tangler.com">Tangler</a> crew. Or all the incredible peeps I met at <a href="http://2007.sxsw.com/interactive">SXSW</a> this year, or <a href="http://webdirections.org/">Web Directions</a> last year.
%p
  Through it all, I’ve been surrounded by a crazy cool group of friends, every one whom is an inspiration almost daily. I can’t go through them all. I’m already starting to feel this post is dropping into self-indulgent waffle, so I’ll name only two more people. The first is
  %a{ :href => "http://leftjustified.net/" }
    Andrew Krespanis
  who gave me this website and the appropriate (and necessary) kick-in-the-arse to start writing. The second is
  %a{ :href => "http://scenarioseven.com.au" }
    Lisa Herrod
  \.
%p She’s been an inspiration from day one. She’s the reason I came to Sydney and she’s the one who gave me the courage to take the plunge. She’s always supported me and encouraged me. She drives me to achieve. To push myself and those around me. If I’ve done anything worth doing in the last 12 months, it is because of her.

%h2 Jump!
%p What I haven’t listed here are the bad times. No mention of the failures or the moments of crushing despair. None of the negative people I met who brought me down. Those are all irrelevant to the point. We all have those, no matter what we do.
%p No matter where you do or what you do, you’re going to have bad times. You’re going to face pain and heartbreak. So don’t worry about it. No point stressing over things you can’t change
%p Surround yourself with love and support, then risk all. Push yourself. Stare into that abyss in front of you, then look past it and take that leap. Again and again.
