.item_meta
.item_tags
  Tags:
  %a{ :href => "http://log.lachstock.com.au/past/tags/AndrewKrespanis", :title => "View posts tagged with &quot;AndrewKrespanis&quot;" }
    AndrewKrespanis
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/AnsonParker", :title => "View posts tagged with &quot;AnsonParker&quot;" }
    AnsonParker
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/BenAskins", :title => "View posts tagged with &quot;BenAskins&quot;" }
    BenAskins
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/JasonCrane", :title => "View posts tagged with &quot;JasonCrane&quot;" }
    JasonCrane
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/LachieCox", :title => "View posts tagged with &quot;LachieCox&quot;" }
    LachieCox
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/LindsayEvans", :title => "View posts tagged with &quot;LindsayEvans&quot;" }
    LindsayEvans
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/LisaHerrod", :title => "View posts tagged with &quot;LisaHerrod&quot;" }
    LisaHerrod
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/MaxMuermann", :title => "View posts tagged with &quot;MaxMuermann&quot;" }
    MaxMuermann
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/NDM", :title => "View posts tagged with &quot;NDM&quot;" }
    NDM
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/RORO", :title => "View posts tagged with &quot;RORO&quot;" }
    RORO
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/SXSW", :title => "View posts tagged with &quot;SXSW&quot;" }
    SXSW
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/Sydney", :title => "View posts tagged with &quot;Sydney&quot;" }
    Sydney
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/TimLucas", :title => "View posts tagged with &quot;TimLucas&quot;" }
    TimLucas
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/WSG", :title => "View posts tagged with &quot;WSG&quot;" }
    WSG
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/Webjam", :title => "View posts tagged with &quot;Webjam&quot;" }
    Webjam
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/future", :title => "View posts tagged with &quot;future&quot;" }
    future
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/leap", :title => "View posts tagged with &quot;leap&quot;" }
    leap
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/motivation", :title => "View posts tagged with &quot;motivation&quot;" }
    motivation
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/risk", :title => "View posts tagged with &quot;risk&quot;" }
    risk
.item_hierarchy
  Hierarchy:
  %a{ :href => "http://log.lachstock.com.au/past/2007/5/16/share_the_love/", :title => "Previous post" }
    previous
  ,
  %a{ :href => "http://log.lachstock.com.au/past/2007/10/15/meshing-with-meraki/", :title => "Next post" }
    next
