- @title = "X marks the spot"
- @published = "20100518 at 2300"
- @blurb = "<p>About <a href=\"http://twitter.com/technoweenie/status/13593470393\">a week ago</a> now, <a href=\"http://techno-weenie.net/\">Rick Olson</a> re-launched <a href=\"http://calendaraboutnothing.com/\">Calendar About Nothing</a>, the <a href=\"http://lifehacker.com/software/motivation/jerry-seinfelds-productivity-secret-281626.php\">Seinfeld calendar</a> for your open source commits on <a href=\"http://github.com/\">GitHub</a>.</p><p>Its revival reminded me of an associated project of mine, the <a href=\"http://github.com/lachlanhardy/seinfeld-badge\">Seinfeld Badge</a>. A quick and dirty JavaScript widget to show off your current streak of public commits on your blog, I&rsquo;ve always been dissatisfied with the code. Time to make it right!</p>"

%p About <a href="http://twitter.com/technoweenie/status/13593470393">a week ago</a> now, <a href="http://techno-weenie.net/">Rick Olson</a> re-launched <a href="http://calendaraboutnothing.com/">Calendar About Nothing</a>, the <a href="http://lifehacker.com/software/motivation/jerry-seinfelds-productivity-secret-281626.php">Seinfeld calendar</a> for your open source commits on <a href="http://github.com/">GitHub</a>.

%p Its revival reminded me of an associated project of mine, the <a href="http://github.com/lachlanhardy/seinfeld-badge">Seinfeld Badge</a>. A quick and dirty JavaScript widget to show off your current streak of public commits on your blog, I've always been dissatisfied with the code. So dissatisfied that I didn't blog out it the first time I wrote it. Time to make it right!

%p Or at least modernise it somewhat.

= partial :seinfeld

%h2 HTML
The original HTML is pretty straightforward and didn't need changing. The calendar simply gets appended to this content anyway.


= code_sample("index.html")





%h2 Summary


