- @title = "The Non-Scary Way of Learning About OpenID"
- @published_date = "20071220 at 1506"

%p I hear lots of paranoid mutterings about <a href="http://openid.net/">OpenID</a> from geeky folks. I get that. They’re still hurting from the <a href="http://en.wikipedia.org/wiki/Windows_Live_ID">fiasco formerly known as Passport</a>. It’s understandble, but it’s time to let it go.
%p People have valid concerns about any scheme purporting to represent their identity (or <em>identities</em>, given we’re talking about the web). It’s hard to get to the bottom of those with OpenID, because, as has been raised on the mailing lists, it’s very obscure niche topic with bugger all in the way of plain language explanations. It takes too long to get into it and understand it, and not everybody has that time. This is for those who are willing to trust that I took the time.
%p The next five points are for all my geeky friends who can’t be stuffed delving into esoterica:

%h2 OpenID is good for you.
%p
  You can
  %a{ :href => "http://openid.net/what/" }
    stop using usernames
  and passwords for
  %a{ :href => "http://openid.net/where/" }
    every site that supports it
  \.

%h2 OpenID saves you stress
%p You don’t have remember which of the 3 different passwords you’ve used since high school is the right one for this site. You don’t have remember which of your 47 different usernames you gave it.

%h2 OpenID saves you time
%p You don’t have to trawl your browser password storage to find the right one when you haven’t visited the site since you last cleared your cookies.

%h2 OpenID is safe
%p
  Hardcore security freaks can go read
  %a{ :href => "http://openid.net/specs.bml" }
    the specs
  , get involved in
  %a{ :href => "http://openid.net/" }
    the community
  and determine this for themselves, but for the rest of us, it’s enough to know that a bunch of very smart hardcore security freaks have already done this.

%h2 The defence rests
%p There you have it, folks, the completely non-scientific (and non-scary) explanation of OpenID. No grand justifications. No confusing diagrams.

%h2 What now?
%p
  Just 3 simple things to do:
%ol
  %li
    %p
      %a{ :href => "http://openid.net/get/" } Go get one today;
    %p
      I recommend
      %a{ :href => "http://claimid.com/" } ClaimID
      because those guys are
      %a{ :href => "http://chimprawk.blogspot.com/" } fucking
      %a{ :href => "http://weblog.terrellrussell.com/" } smart
      , but lots of people like
      %a{ :href => "https://www.myopenid.com/" } myOpenId
      too;
  %li
    %p
      Make sure you delegate your OpenID to your own site using
      %a{ :href => "http://toolmantim.com/article/2007/12/20/keeping_the_keys_to_your_openid_identity_using_delegation" } Tim Lucas’s handy instructions
      so
      %strong you
      have control of your identity; and
  %li
    %p Tell your all friends - if you want the revolution, you’d better start lighting fires.
%p Party on, people. The fight isn’t over yet.
