.item_meta
.item_tags
  Tags:
  %a{ :href => "http://log.lachstock.com.au/past/tags/ClaimID", :title => "View posts tagged with &quot;ClaimID&quot;" }
    ClaimID
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/FredStutzman", :title => "View posts tagged with &quot;FredStutzman&quot;" }
    FredStutzman
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/TerrellRussell", :title => "View posts tagged with &quot;TerrellRussell&quot;" }
    TerrellRussell
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/TimLucas", :title => "View posts tagged with &quot;TimLucas&quot;" }
    TimLucas
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/calltoaction", :title => "View posts tagged with &quot;calltoaction&quot;" }
    calltoaction
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/delegation", :title => "View posts tagged with &quot;delegation&quot;" }
    delegation
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/identity", :title => "View posts tagged with &quot;identity&quot;" }
    identity
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/myOpenID", :title => "View posts tagged with &quot;myOpenID&quot;" }
    myOpenID
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/nonscary", :title => "View posts tagged with &quot;nonscary&quot;" }
    nonscary
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/nonscientific", :title => "View posts tagged with &quot;nonscientific&quot;" }
    nonscientific
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/openid", :title => "View posts tagged with &quot;openid&quot;" }
    openid
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/savesstress", :title => "View posts tagged with &quot;savesstress&quot;" }
    savesstress
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/savestime", :title => "View posts tagged with &quot;savestime&quot;" }
    savestime
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/secure", :title => "View posts tagged with &quot;secure&quot;" }
    secure
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/simple", :title => "View posts tagged with &quot;simple&quot;" }
    simple
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/singlesignon", :title => "View posts tagged with &quot;singlesignon&quot;" }
    singlesignon
.item_hierarchy
  Hierarchy:
  %a{ :href => "http://log.lachstock.com.au/past/2007/10/22/sun-said-what/", :title => "Previous post" }
    previous
  ,
  %a{ :href => "http://log.lachstock.com.au/past/2008/1/23/X-UA-Compatible-past-thoughts-of-children/", :title => "Next post" }
    next

