
.item_meta
.item_tags
  Tags:
  %a{ :href => "http://log.lachstock.com.au/past/tags/AnilDash", :title => "View posts tagged with &quot;AnilDash&quot;" }
    AnilDash
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/DanIngalls", :title => "View posts tagged with &quot;DanIngalls&quot;" }
    DanIngalls
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/JavaScript", :title => "View posts tagged with &quot;JavaScript&quot;" }
    JavaScript
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/LivelyKernel", :title => "View posts tagged with &quot;LivelyKernel&quot;" }
    LivelyKernel
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/Morphic", :title => "View posts tagged with &quot;Morphic&quot;" }
    Morphic
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/Seaside", :title => "View posts tagged with &quot;Seaside&quot;" }
    Seaside
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/Squeak", :title => "View posts tagged with &quot;Squeak&quot;" }
    Squeak
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/SunMicrosystems", :title => "View posts tagged with &quot;SunMicrosystems&quot;" }
    SunMicrosystems
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/future", :title => "View posts tagged with &quot;future&quot;" }
    future
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/geeks", :title => "View posts tagged with &quot;geeks&quot;" }
    geeks
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/monoculture", :title => "View posts tagged with &quot;monoculture&quot;" }
    monoculture
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/webstandards", :title => "View posts tagged with &quot;webstandards&quot;" }
    webstandards
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/webtechnologies", :title => "View posts tagged with &quot;webtechnologies&quot;" }
    webtechnologies
.item_hierarchy
  Hierarchy:
  %a{ :href => "http://log.lachstock.com.au/past/2007/10/17/meraki-madness/", :title => "Previous post" }
    previous
  ,
  %a{ :href => "http://log.lachstock.com.au/past/2007/12/20/nonscary-way-of-learning-openid/", :title => "Next post" }
    next
