.item_meta
  .item_tags
    Tags:
    %a{ :href => "http://log.lachstock.com.au/past/tags/Atlassian", :title => "View posts tagged with &quot;Atlassian&quot;" }
      Atlassian
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/ChadFowler", :title => "View posts tagged with &quot;ChadFowler&quot;" }
      ChadFowler
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/DonBrown", :title => "View posts tagged with &quot;DonBrown&quot;" }
      DonBrown
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/Fedex", :title => "View posts tagged with &quot;Fedex&quot;" }
      Fedex
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/Git", :title => "View posts tagged with &quot;Git&quot;" }
      Git
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/Github", :title => "View posts tagged with &quot;Github&quot;" }
      Github
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/Gitman", :title => "View posts tagged with &quot;Gitman&quot;" }
      Gitman
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/Gitnotify", :title => "View posts tagged with &quot;Gitnotify&quot;" }
      Gitnotify
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/MikeBailey", :title => "View posts tagged with &quot;MikeBailey&quot;" }
      MikeBailey
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/Ruby", :title => "View posts tagged with &quot;Ruby&quot;" }
      Ruby
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/gitjour", :title => "View posts tagged with &quot;gitjour&quot;" }
      gitjour
    ,
    %a{ :href => "http://log.lachstock.com.au/past/tags/railscamp", :title => "View posts tagged with &quot;railscamp&quot;" }
      railscamp
  .item_hierarchy
    Hierarchy:
    %a{ :href => "http://log.lachstock.com.au/past/2008/9/4/podcast-for-your-pleasure/", :title => "Previous post" }
      previous
    ,
    %a{ :href => "http://log.lachstock.com.au/past/2008/10/29/pimping-your-github-commits-js/", :title => "Next post" }
      next
