.item_meta
.item_tags
  Tags:
  %a{ :href => "http://log.lachstock.com.au/past/tags/DianaMounter", :title => "View posts tagged with &quot;DianaMounter&quot;" }
    DianaMounter
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/LachlanHardy", :title => "View posts tagged with &quot;LachlanHardy&quot;" }
    LachlanHardy
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/lgwebnetwork", :title => "View posts tagged with &quot;lgwebnetwork&quot;" }
    lgwebnetwork
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/lgwn08", :title => "View posts tagged with &quot;lgwn08&quot;" }
    lgwn08
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/openweb", :title => "View posts tagged with &quot;openweb&quot;" }
    openweb
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/podcast", :title => "View posts tagged with &quot;podcast&quot;" }
    podcast
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/presentation", :title => "View posts tagged with &quot;presentation&quot;" }
    presentation
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/video", :title => "View posts tagged with &quot;video&quot;" }
    video
.item_hierarchy
  Hierarchy:
  %a{ :href => "http://log.lachstock.com.au/past/2008/8/25/local-government-open-web/", :title => "Previous post" }
    previous
  ,
  %a{ :href => "http://log.lachstock.com.au/past/2008/10/19/gitjour-the-quickening/", :title => "Next post" }
    next
