- @title = "Remix Australia Rocked!"
- @published_date = "20080524 at 1031"

%p
  I was very pleased to be speaking at
  %a{ :href => "http://www.microsoft.com/australia/remix08/index.aspx" } Remix Australia
  this week. Thanks must go to
  %span.vcard
    %a.url.fn{ :href => "http://delicategeniusblog.com/", :rel => "friend met" } Michael Kordahi
  ,
  %span.vcard
    %a.url.fn{ :href => "http://blogs.msdn.com/shanemo/", :rel => "friend met" } Shane Morris
  , and
  %span.vcard
    %a.url.fn{ :href => "http://www.nickhodge.com/", :rel => "friend met" } Nick Hodge
  for trusting that a guy who hadn’t done a public presentation in nearly a year could deliver the goods.

%h2 Talking ‘bout a revolution
%p
  %span.vcard
    %a.url.fn{ :href => "http://damianpedwards.spaces.live.com/", :rel => "friend met colleague" } Damian Edwards
  and I were asked to do the IE8 session together. The point of the session was to give an overview of the new features and capabilities, in particular the brand-spanking new standards-compliant rendering engine. We also decided to make the most of the opportunity to pimp standards-based design methodologies and concepts to the .NET and Silverlight focused crowd.
%p Damian took responsibility for developing solid demos to illustrate standards-based design techniques and the innovations in IE8 such as WebSlices and Activities. I delivered the historical context, the philosophy and the concepts we wanted to impart.
%p 
  I think we ended up with a solidly crafted presentation that wove the themes of Internet Explorer 8’s development principles, standards-based design philosophies and best practice web innovation together. We’ve had some great feedback so far and one member of the Melbourne audience even said:
  %q That was the most concise succinct explanation of those concepts I’ve ever heard. This was the most productive session of the day for me.
  Obviously Damian and I are rapt that somebody felt so strongly about our work. That really made the day for me.
%p Huge thanks to Damian for all the work he put in to make sure we nailed it!
%p I’ve added the presentation to Slideshare, although it won’t be anywhere near as cool without all the demos and we used the slides for points of reference rather than as detailed content:
#__ss_423426{ :style => "width:425px;text-align:left" }
  %object{ :height => "355", :style => "margin:0px", :width => "425" }
    %param{ :name => "movie", :value => "http://static.slideshare.net/swf/ssplayer2.swf?doc=ie8remix08-1211527093876032-8" }
    %param{ :name => "allowFullScreen", :value => "true" }
    %param{ :name => "allowScriptAccess", :value => "always" }
    %embed{ :src => "http://static.slideshare.net/swf/ssplayer2.swf?doc=ie8remix08-1211527093876032-8", :type => "application/x-shockwave-flash", :allowfullscreen => "true", :allowscriptaccess => "always", :height => "355", :width => "425" }
  %div{ :style => "font-size:11px;font-family:tahoma,arial;height:26px;padding-top:2px;" }
    %a{ :href => "http://www.slideshare.net/?src=embed" }
      %img{ :src => "http://static.slideshare.net/swf/logo_embd.png", :alt => "SlideShare", :style => "border:0px none;margin-bottom:-5px" }
    |
    %a{ :href => "http://www.slideshare.net/lachlanhardy/welcome-to-ie8-integrating-your-site-with-internet-explorer-8?src=embed", :title => "View Welcome to IE8 - Integrating Your Site With Internet Explorer 8 on SlideShare", :rel => "me" } View
    |
    %a{ :href => "http://www.slideshare.net/upload?src=embed" } Upload your own
%p
  Turns out Damo
  %a{ :href => "http://damianpedwards.spaces.live.com/Blog/cns!A079DE667E1958B3!622.entry" } posted the code from the demos
  on his blog.
%h2 Rolling with my homies
%p As ever, the absolute best part of the conference was all the amazing incredible talented people I got to meet, talk with and hang with.
%p
  %span.vcard
    %a.url.fn{ :href => "http://markpesce.com/", :rel => "friend met colleague" } Mark Pesce
  delivered a stirring call to action for all developers in the keynote. We hold the key to the future. We’re the ones who can empower both the public and our own organisations by building the right tools. You can
  %a{ :href => "http://blog.futurestreetconsulting.com/?p=54" } read his speech in its entirety
  on his blog and
  %a{ :href => "http://blip.tv/file/931447" } the video
  has just been posted. Go get some!
%p
  I met the incredibly friendly folks from
  %a{ :href => "http://www.soulsolutions.com.au/" } Soul Solutions
  at the first speaker rehearsals. Bronwen Zande and John O’Brien are two of the nicest, most genuine people I’ve met in a long time and they build awesome stuff too as I discovered when I watched their demos in the Windows Live Platform sessions. I’ve been expecting to see presence indication in more and more sites and it was cool to see how they’d integrated IM into their applications seamlessly.
%p
  My favourite presentation of the conference was easily the one covering the new possibilities in Silverlight 2.
  %span.vcard
    %a.url.fn{ :href => "http://jonas.follesoe.no/", :rel => "friend met colleague" } Jonas Folles&oslash;
  built an awesome
  %a{ :href => "http://jonas.follesoe.no/PermaLink,guid,3e8d9671-bbdd-4e4d-a29d-ceeef07ea55c.aspx" } Twitter/Flickr mashup
  in front of us in about 35 minutes, while explaining in precise detail every step and the reasoning for it. The source and slides are available at that link. If that wasn’t incredible enough (and it was),
  %span.vcard
    %a.url.fn{ :href => "http://advertboy.wordpress.com/", :rel => "friend met colleague" } Jos&eacute; Fajardo
  demonstrated some really astonishing DeepZoom prototypes he’d built.
%p Jos&eacute; decided that people haven’t recognised the true potential in DeepZoom and so he asked himself 3 questions, then tried to answer them each in code within 30 minutes. He showed us the results and convinced me, at least, that we need to be looking much further ahead than we have been with interactions on the web.
%p His questions went something like this:
%ol
  %li What if every image on the web were DeepZoomable?
  %li What if we had full control over every document on the web?
  %li What if people could share DeepZoom images easily?
%p I don’t have the precise questions and I don’t want to steal his thunder for when he blogs it (you are blogging this, right, Jos&eacute;?), but his examples were simply phenomenal. I’m going to be asking myself a lot of questions like this in future &ndash; to help myself stretch my knowledge and use of the technologies I know. And to stretch how they’re used by everyone. 30 minute prototyping exercises are the way of the future!
%p In combination, the presentation by Jonas and Jos&eacute; convinced me that I need to learn Silverlight. There is much potential for awesomeness there, if used properly.
%p
  I also met the very talented, very cool
  %span.vcard
    %a.url.fn{ :href => "http://www.hege.rokenes.com/", :rel => "friend met" } Hege Rokenes
  \. She’s a Norwegian graphic designer who’s freelancing in Melbourne for the next year or so. She won the Silverlight video clip contest with her
  %a{ :href => "http://www.hege.rokenes.com/diverse/stepbackvideosilverlight.htm" } Step Back
  video (Silverlight required &ndash; of course). She’s looking for more freelance or a position with a Melbourne company. If you want a talented designer with an interest in web standards and Silverlight, you’d be crazy not to look her up.
%p
  I finally got to meet
  %span.vcard
    %a.url.fn{ :href => "\nhttp://blog.tatham.oddie.com.au/", :rel => "friend met colleague" } Tatham Oddie
  , who I really should have met by now as he’s into all the same things I am, but comes at them from a Microsoft technologies angle. He was even at Web Directions South last year! Go read his post on
  %a{ :href => "http://blog.tatham.oddie.com.au/2008/05/06/location-location-location-my-plan-for-location-awareness-and-the-geographiclocationprovider-object/" } Location Awareness
  to see why I’m very keen to see what he gets up to next!
%p And lastly, there were so many other amazing people that I ran into in hallways, stairwells and bars. I have a bunch of business cards, contact details and new Twitter followers, so I’ll be keeping in touch with them too.

%h2 Whole lotta love
%p Many people asked me why I was going to a Microsoft conference. The previous section of this article is why. There are brilliant talented friendly people in every community. Cross-pollination of ideas, philosophies and experiences can only help to push the web forward. Exposure to different ideas and techniques that are new to me can only help me.
%p I talked to people about my work, both at Atlassian and outside. I shared concepts about integrating with large-scale CMSes, modernising legacy codebases, and promoting the open web. I compared notes on Ruby, Rails, .NET and Java. I learned about new technologies and techniques. I saw cool prototypes and interactions. I think I even convinced a few RIA developers to go learn HTML!
%p Next time you have the opportunity to go to a conference, do it. Seize the experiences and make them your own. What you get out of a conference comes from what you put in. It’s not just about sitting in sessions and heckling via the backchannel. It’s about participating in every way you can.
%p I appreciated every second of this week. Remix sums it up nicely.
