.item_meta
.item_tags
  Tags:
  %a{ :href => "http://log.lachstock.com.au/past/tags/Atlassian", :title => "View posts tagged with &quot;Atlassian&quot;" }
    Atlassian
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/BronwenZande", :title => "View posts tagged with &quot;BronwenZande&quot;" }
    BronwenZande
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/DamianEdwards", :title => "View posts tagged with &quot;DamianEdwards&quot;" }
    DamianEdwards
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/DeepZoom", :title => "View posts tagged with &quot;DeepZoom&quot;" }
    DeepZoom
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/HTML", :title => "View posts tagged with &quot;HTML&quot;" }
    HTML
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/HegeRokenes", :title => "View posts tagged with &quot;HegeRokenes&quot;" }
    HegeRokenes
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/IE8", :title => "View posts tagged with &quot;IE8&quot;" }
    IE8
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/InternetExplorer", :title => "View posts tagged with &quot;InternetExplorer&quot;" }
    InternetExplorer
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/Java", :title => "View posts tagged with &quot;Java&quot;" }
    Java
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/JohnOBrien", :title => "View posts tagged with &quot;JohnOBrien&quot;" }
    JohnOBrien
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/JonasFolleso", :title => "View posts tagged with &quot;JonasFolleso&quot;" }
    JonasFolleso
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/JoseFajardo", :title => "View posts tagged with &quot;JoseFajardo&quot;" }
    JoseFajardo
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/Microsoft", :title => "View posts tagged with &quot;Microsoft&quot;" }
    Microsoft
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/NET", :title => "View posts tagged with &quot;NET&quot;" }
    NET
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/RIA", :title => "View posts tagged with &quot;RIA&quot;" }
    RIA
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/RemixAustralia", :title => "View posts tagged with &quot;RemixAustralia&quot;" }
    RemixAustralia
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/Ruby", :title => "View posts tagged with &quot;Ruby&quot;" }
    Ruby
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/Silverlight", :title => "View posts tagged with &quot;Silverlight&quot;" }
    Silverlight
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/SlideShare", :title => "View posts tagged with &quot;SlideShare&quot;" }
    SlideShare
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/TathamOddie", :title => "View posts tagged with &quot;TathamOddie&quot;" }
    TathamOddie
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/Twitter", :title => "View posts tagged with &quot;Twitter&quot;" }
    Twitter
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/auremix", :title => "View posts tagged with &quot;auremix&quot;" }
    auremix
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/calltoaction", :title => "View posts tagged with &quot;calltoaction&quot;" }
    calltoaction
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/markpesce", :title => "View posts tagged with &quot;markpesce&quot;" }
    markpesce
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/prototyping", :title => "View posts tagged with &quot;prototyping&quot;" }
    prototyping
  ,
  %a{ :href => "http://log.lachstock.com.au/past/tags/webstandards", :title => "View posts tagged with &quot;webstandards&quot;" }
    webstandards
.item_hierarchy
  Hierarchy:
  %a{ :href => "http://log.lachstock.com.au/past/2008/5/8/ardent-about-arduino/", :title => "Previous post" }
    previous
  ,
  %a{ :href => "http://log.lachstock.com.au/past/2008/7/27/action-reaction/", :title => "Next post" }
    next
