- @title = "Nobody Knows _why"
- @published = "20090910 at 2000"
- @blurb = "<p>And I don&rsquo;t know <a href='http://ejohn.org/blog/eulogy-to-_why/'>why he left</a>.</p><p>It hurt me, though. In lots of ways that are hard to talk about. I felt betrayed. Like something beautiful had been taken from the world &mdash; my world. It hurt and I was sad. In that same strange way I was when I heard that Heath Ledger died.</p><p>I didn&rsquo;t have the time or energy to do anything about it. I was busy. Big chain of dependent releases at work, a couple of presentations to prepare and the like. So I didn&rsquo;t do anything, but I kept thinking about it.</p>"


.figure-box.minor
  .figure
    %a{:href => "http://www.flickr.com/photos/lachlanhardy/3906616076/", :title => "My Sweet Children by Lachlan Hardy, on Flickr"}
      %img{:src => "http://farm3.static.flickr.com/2536/3906616076_0652ff9784_m.jpg", :width => "240", :alt => "My Sweet Children"}
    %p
      My Sweet Children:
      %a{:href => "http://www.flickr.com/photos/lachlanhardy/3906616076/"} Lachlan Hardy
      
%p And nobody seems to know <a href="http://ejohn.org/blog/eulogy-to-_why/">why he left</a>.

%p It hurt me, though. In lots of ways that are hard to talk about. I felt betrayed. Like something beautiful had been taken from the world &mdash; my world. It hurt and I was sad. In that same strange way I was when I heard that Heath Ledger died.

%p I didn&rsquo;t have the time or energy to do anything about it. I was busy. Big chain of dependent releases at work, a couple of presentations to prepare and the like. So I didn&rsquo;t do anything, but I kept thinking about it.

%p Then came the news earlier this week that Jeffrey Walker was ill. I mean, he was already ill. He had fucking cancer. But he&rsquo;d had it before and his indomitable will and sheer love of living would surely mean that he&rsquo;d conquer this too.

%p 
  %em Not this time. 

%p We said <a href="http://radiowalker.wordpress.com/2009/09/02/goodbye-jeffrey/">goodbye to Jeffrey</a> last week. I&rsquo;m not going to say much more about that, except that loss on that scale obviously made me take stock. 

%h2 What to do?

%p I know what Jeffrey would say. He&rsquo;d tell me to kick some ass. He&rsquo;d tell me to stop feeling sorry for myself, get off my butt, and go do something awesome!

%p With that in mind, I look back at _why and think about why I miss him. Is it the glorious, amazing, complicated, mindbending, potentially demented code? The obscure, sometimes incomprehensible, blog posts? The cartoon foxes? The chunky bacon?

%p I have a copy of Nobody Knows Shoes and it <strong>is</strong> the best software book ever. The only possible exception being _why&rsquo;s Poignant Guide to Ruby, but I&rsquo;ve never seen a physical copy of that. Why is it the best? It&rsquo;s fucking fun!

%p The whole thing creates a sense of wonder and adventure. It&rsquo;s random, jumbled, confusing and utterly unbelievably glorious fun. 

.figure-box.featured
  .figure
    %a{:href => "http://www.flickr.com/photos/lachlanhardy/3905838779/", :title => "The Entirety of the Shoes Family? by Lachlan Hardy, on Flickr"}
      %img{:src => "http://farm3.static.flickr.com/2507/3905838779_abc66c6227_b.jpg", :width => "750", :alt => "The Best Software Documentation Ever"}
    %p
      The Best Software Documentation Ever:
      %a{:href => "http://www.flickr.com/photos/lachlanhardy/3905838779/"} Lachlan Hardy

%p When was the last time you said that about something to do with software or web development? (and if ever, was that because of _why?)

%p He was a special and unique snowflake. As are we all. And I&rsquo;m going to turn these losses into gains.

%p The software world doesn&rsquo;t have _why any more and Atlassian doesn&rsquo;t have Jeffrey but that doesn&rsquo;t mean we can&rsquo;t have awesomeness. Every single fucking day. I&rsquo;m going to put as much out there as I can. It won&rsquo;t all be awesome. Hell, it won&rsquo;t even all be <em>good</em>. But it&rsquo;ll be out there. 

%p I&rsquo;m starting with this site. It&rsquo;s not entirely awesome yet, but it will be. Change your feed subscription to <a href="http://lachstock.com.au/feeds/articles/">the new hottness</a> because FeedGoogle (sorry, Feedburner) is not enhancing my awesome. (And doesn&rsquo;t Goo gle know enough about you already?)

%h2 This is my challenge to myself:

%p 
  %em When was the last time you made something awesome?

%p If I can&rsquo;t answer, &ldquo;today&rdquo; or &ldquo;this week&rdquo; then what the fuck am I doing? We all have bad days. We all have bad weeks. None of us want a bad life. 

%p 
  This is my challenge to myself. 
  %strong And to you.
